In [176]:
import pandas as pd

In [177]:
data=pd.read_csv('C:\\Users\\RASIK AHMAD DAR\\Downloads\\tested.csv')
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.50,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.00,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.00,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.00,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.00,1,1,3101298,12.2875,NaN,S
5,897,0,3,"Svensson, Mr. Johan Cervin",male,14.00,0,0,7538,9.2250,NaN,S
6,898,1,3,"Connolly, Miss. Kate",female,30.00,0,0,330972,7.6292,NaN,Q
7,899,0,2,"Caldwell, Mr. Albert Francis",male,26.00,1,1,248738,29.0000,NaN,S
8,900,1,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.00,0,0,2657,7.2292,NaN,C
9,901,0,3,"Davies, Mr. John Samuel",male,21.00,2,0,A/4 48871,24.1500,NaN,S
10,902,0,3,"Ilieff, Mr. Ylio",male,NaN,0,0,349220,7.8958,NaN,S
11,903,0,1,"Jones, Mr. Charles Cresson",male,46.00,0,0,694,26.0000,NaN,S
12,904,1,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",female,23.00,1,0,21228,82.2667,B45,S
13,905,0,2,"Howard, Mr. Benjamin",male,63.00,1,0,24065,26.0000,NaN,S
14,906,1,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",female,47.00,1,0,W.E.P. 5734,61.1750,E31,S
15,907,1,2,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",female,24.00,1,0,SC/PARIS 2167,27.7208,NaN,C
16,908,0,2,"Keane, Mr. Daniel",male,35.00,0,0,233734,12.3500,NaN,Q
17,909,0,3,"Assaf, Mr. Gerios",male,21.00,0,0,2692,7.2250,NaN,C
18,910,1,3,"Ilmakangas, Miss. Ida Livija",female,27.00,1,0,STON/O2. 3101270,7.9250,NaN,S
19,911,1,3,"Assaf Khalil, Mrs. Mariana (Miriam"")""",female,45.00,0,0,2696,7.2250,NaN,C
20,912,0,1,"Rothschild, Mr. Martin",male,55.00,1,0,PC 17603,59.4000,NaN,C
21,913,0,3,"Olsen, Master. Artur Karl",male,9.00,0,1,C 17368,3.1708,NaN,S
22,914,1,1,"Flegenheim, Mrs. Alfred (Antoinette)",female,NaN,0,0,PC 17598,31.6833,NaN,S
23,915,0,1,"Williams, Mr. Richard Norris II",male,21.00,0,1,PC 17597,61.3792,NaN,C
24,916,1,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",female,48.00,1,3,PC 17608,262.3750,B57 B59 B63 B66,C
25,917,0,3,"Robins, Mr. Alexander A",male,50.00,1,0,A/5. 3337,14.5000,NaN,S
26,918,1,1,"Ostby, Miss. Helene Ragnhild",female,22.00,0,1,113509,61.9792,B36,C
27,919,0,3,"Daher, Mr. Shedid",male,22.50,0,0,2698,7.2250,NaN,C
28,920,0,1,"Brady, Mr. John Bertram",male,41.00,0,0,113054,30.5000,A21,S
29,921,0,3,"Samaan, Mr. Elias",male,NaN,2,0,2662,21.6792,NaN,C
30,922,0,2,"Louch, Mr. Charles Alexander",male,50.00,1,0,SC/AH 3085,26.0000,NaN,S
31,923,0,2,"Jefferys, Mr. Clifford Thomas",male,24.00,2,0,C.A. 31029,31.5000,NaN,S
32,924,1,3,"Dean, Mrs. Bertram (Eva Georgetta Light)",female,33.00,1,2,C.A. 2315,20.5750,NaN,S
33,925,1,3,"Johnston, Mrs. Andrew G (Elizabeth Lily"" Watson)""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
34,926,0,1,"Mock, Mr. Philipp Edmund",male,30.00,1,0,13236,57.7500,C78,C
35,927,0,3,"Katavelas, Mr. Vassilios (Catavelas Vassilios"")""",male,18.50,0,0,2682,7.2292,NaN,C
36,928,1,3,"Roth, Miss. Sarah A",female,NaN,0,0,342712,8.0500,NaN,S
37,929,1,3,"Cacic, Miss. Manda",female,21.00,0,0,315087,8.6625,NaN,S
38,930,0,3,"Sap, Mr. Julius",male,25.00,0,0,345768,9.5000,NaN,S
39,931,0,3,"Hee, Mr. Ling",male,NaN,0,0,1601,56.4958,NaN,S
40,932,0,3,"Karun, Mr. Franz",male,39.00,0,1,349256,13.4167,NaN,C
41,933,0,1,"Franklin, Mr. Thomas Parham",male,NaN,0,0,113778,26.5500,D34,S
42,934,0,3,"Goldsmith, Mr. Nathan",male,41.00,0,0,SOTON/O.Q. 3101263,7.8500,NaN,S
43,935,1,2,"Corbett, Mrs. Walter H (Irene Colvin)",female,30.00,0,0,237249,13.0000,NaN,S
44,936,1,1,"Kimball, Mrs. Edwin Nelson Jr (Gertrude Parsons)",female,45.00,1,0,11753,52.5542,D19,S
45,937,0,3,"Peltomaki, Mr. Nikolai Johannes",male,25.00,0,0,STON/O 2. 3101291,7.9250,NaN,S
46,938,0,1,"Chevre, Mr. Paul Romaine",male,45.00,0,0,PC 17594,29.7000,A9,C
47,939,0,3,"Shaughnessy, Mr. Patrick",male,NaN,0,0,370374,7.7500,NaN,Q
48,940,1,1,"Bucknell, Mrs. William Robert (Emma Eliza Ward)",female,60.00,0,0,11813,76.2917,D15,C
49,941,1,3,"Coutts, Mrs. William (Winnie Minnie"" Treanor)""",female,36.00,0,2,C.A. 37671,15.9000,NaN,S
50,942,0,1,"Smith, Mr. Lucien Philip",male,24.00,1,0,13695,60.0000,C31,S
51,943,0,2,"Pulbaum, Mr. Franz",male,27.00,0,0,SC/PARIS 2168,15.0333,NaN,C
52,944,1,2,"Hocking, Miss. Ellen Nellie""""",female,20.00,2,1,29105,23.0000,NaN,S
53,945,1,1,"Fortune, Miss. Ethel Flora",female,28.00,3,2,19950,263.0000,C23 C25 C27,S
54,946,0,2,"Mangiavacchi, Mr. Serafino Emilio",male,NaN,0,0,SC/A.3 2861,15.5792,NaN,C
55,947,0,3,"Rice, Master. Albert",male,10.00,4,1,382652,29.1250,NaN,Q
56,948,0,3,"Cor, Mr. Bartol",male,35.00,0,0,349230,7.8958,NaN,S
57,949,0,3,"Abelseth, Mr. Olaus Jorgensen",male,25.00,0,0,348122,7.6500,F G63,S
58,950,0,3,"Davison, Mr. Thomas Henry",male,NaN,1,0,386525,16.1000,NaN,S
59,951,1,1,"Chaudanson, Miss. Victorine",female,36.00,0,0,PC 17608,262.3750,B61,C
60,952,0,3,"Dika, Mr. Mirko",male,17.00,0,0,349232,7.8958,NaN,S
61,953,0,2,"McCrae, Mr. Arthur Gordon",male,32.00,0,0,237216,13.5000,NaN,S
62,954,0,3,"Bjorklund, Mr. Ernst Herbert",male,18.00,0,0,347090,7.7500,NaN,S
63,955,1,3,"Bradley, Miss. Bridget Delia",female,22.00,0,0,334914,7.7250,NaN,Q
64,956,0,1,"Ryerson, Master. John Borie",male,13.00,2,2,PC 17608,262.3750,B57 B59 B63 B66,C
65,957,1,2,"Corey, Mrs. Percy C (Mary Phyllis Elizabeth Mi...",female,NaN,0,0,F.C.C. 13534,21.0000,NaN,S
66,958,1,3,"Burns, Miss. Mary Delia",female,18.00,0,0,330963,7.8792,NaN,Q
67,959,0,1,"Moore, Mr. Clarence Bloomfield",male,47.00,0,0,113796,42.4000,NaN,S
68,960,0,1,"Tucker, Mr. Gilbert Milligan Jr",male,31.00,0,0,2543,28.5375,C53,C
69,961,1,1,"Fortune, Mrs. Mark (Mary McDougald)",female,60.00,1,4,19950,263.0000,C23 C25 C27,S
70,962,1,3,"Mulvihill, Miss. Bertha E",female,24.00,0,0,382653,7.7500,NaN,Q
71,963,0,3,"Minkoff, Mr. Lazar",male,21.00,0,0,349211,7.8958,NaN,S
72,964,1,3,"Nieminen, Miss. Manta Josefina",female,29.00,0,0,3101297,7.9250,NaN,S
73,965,0,1,"Ovies y Rodriguez, Mr. Servando",male,28.50,0,0,PC 17562,27.7208,D43,C
74,966,1,1,"Geiger, Miss. Amalie",female,35.00,0,0,113503,211.5000,C130,C
75,967,0,1,"Keeping, Mr. Edwin",male,32.50,0,0,113503,211.5000,C132,C
76,968,0,3,"Miles, Mr. Frank",male,NaN,0,0,359306,8.0500,NaN,S
77,969,1,1,"Cornell, Mrs. Robert Clifford (Malvina Helen L...",female,55.00,2,0,11770,25.7000,C101,S
78,970,0,2,"Aldworth, Mr. Charles Augustus",male,30.00,0,0,248744,13.0000,NaN,S
79,971,1,3,"Doyle, Miss. Elizabeth",female,24.00,0,0,368702,7.7500,NaN,Q
80,972,0,3,"Boulos, Master. Akar",male,6.00,1,1,2678,15.2458,NaN,C
81,973,0,1,"Straus, Mr. Isidor",male,67.00,1,0,PC 17483,221.7792,C55 C57,S
82,974,0,1,"Case, Mr. Howard Brown",male,49.00,0,0,19924,26.0000,NaN,S
83,975,0,3,"Demetri, Mr. Marinko",male,NaN,0,0,349238,7.8958,NaN,S
84,976,0,2,"Lamb, Mr. John Joseph",male,NaN,0,0,240261,10.7083,NaN,Q
85,977,0,3,"Khalil, Mr. Betros",male,NaN,1,0,2660,14.4542,NaN,C
86,978,1,3,"Barry, Miss. Julia",female,27.00,0,0,330844,7.8792,NaN,Q
87,979,1,3,"Badman, Miss. Emily Louisa",female,18.00,0,0,A/4 31416,8.0500,NaN,S
88,980,1,3,"O'Donoghue, Ms. Bridget",female,NaN,0,0,364856,7.7500,NaN,Q
89,981,0,2,"Wells, Master. Ralph Lester",male,2.00,1,1,29103,23.0000,NaN,S
90,982,1,3,"Dyker, Mrs. Adolf Fredrik (Anna Elisabeth Judi...",female,22.00,1,0,347072,13.9000,NaN,S
91,983,0,3,"Pedersen, Mr. Olaf",male,NaN,0,0,345498,7.7750,NaN,S
92,984,1,1,"Davidson, Mrs. Thornton (Orian Hays)",female,27.00,1,2,F.C. 12750,52.0000,B71,S
93,985,0,3,"Guest, Mr. Robert",male,NaN,0,0,376563,8.0500,NaN,S
94,986,0,1,"Birnbaum, Mr. Jakob",male,25.00,0,0,13905,26.0000,NaN,C
95,987,0,3,"Tenglin, Mr. Gunnar Isidor",male,25.00,0,0,350033,7.7958,NaN,S
96,988,1,1,"Cavendish, Mrs. Tyrell William (Julia Florence...",female,76.00,1,0,19877,78.8500,C46,S
97,989,0,3,"Makinen, Mr. Kalle Edvard",male,29.00,0,0,STON/O 2. 3101268,7.9250,NaN,S
98,990,1,3,"Braf, Miss. Elin Ester Maria",female,20.00,0,0,347471,7.8542,NaN,S
99,991,0,3,"Nancarrow, Mr. William Henry",male,33.00,0,0,A./5. 3338,8.0500,NaN,S
100,992,1,1,"Stengel, Mrs. Charles Emil Henry (Annie May Mo...",female,43.00,1,0,11778,55.4417,C116,C
101,993,0,2,"Weisz, Mr. Leopold",male,27.00,1,0,228414,26.0000,NaN,S
102,994,0,3,"Foley, Mr. William",male,NaN,0,0,365235,7.7500,NaN,Q
103,995,0,3,"Johansson Palmquist, Mr. Oskar Leander",male,26.00,0,0,347070,7.7750,NaN,S
104,996,1,3,"Thomas, Mrs. Alexander (Thamine Thelma"")""",female,16.00,1,1,2625,8.5167,NaN,C
105,997,0,3,"Holthen, Mr. Johan Martin",male,28.00,0,0,C 4001,22.5250,NaN,S
106,998,0,3,"Buckley, Mr. Daniel",male,21.00,0,0,330920,7.8208,NaN,Q
107,999,0,3,"Ryan, Mr. Edward",male,NaN,0,0,383162,7.7500,NaN,Q
108,1000,0,3,"Willer, Mr. Aaron (Abi Weller"")""",male,NaN,0,0,3410,8.7125,NaN,S
109,1001,0,2,"Swane, Mr. George",male,18.50,0,0,248734,13.0000,F,S
110,1002,0,2,"Stanton, Mr. Samuel Ward",male,41.00,0,0,237734,15.0458,NaN,C
111,1003,1,3,"Shine, Miss. Ellen Natalia",female,NaN,0,0,330968,7.7792,NaN,Q
112,1004,1,1,"Evans, Miss. Edith Corse",female,36.00,0,0,PC 17531,31.6792,A29,C
113,1005,1,3,"Buckley, Miss. Katherine",female,18.50,0,0,329944,7.2833,NaN,Q
114,1006,1,1,"Straus, Mrs. Isidor (Rosalie Ida Blun)",female,63.00,1,0,PC 17483,221.7792,C55 C57,S
115,1007,0,3,"Chronopoulos, Mr. Demetrios",male,18.00,1,0,2680,14.4542,NaN,C
116,1008,0,3,"Thomas, Mr. John",male,NaN,0,0,2681,6.4375,NaN,C
117,1009,1,3,"Sandstrom, Miss. Beatrice Irene",female,1.00,1,1,PP 9549,16.7000,G6,S
118,1010,0,1,"Beattie, Mr. Thomson",male,36.00,0,0,13050,75.2417,C6,C
119,1011,1,2,"Chapman, Mrs. John Henry (Sara Elizabeth Lawry)",female,29.00,1,0,SC/AH 29037,26.0000,NaN,S
120,1012,1,2,"Watt, Miss. Bertha J",female,12.00,0,0,C.A. 33595,15.7500,NaN,S
121,1013,0,3,"Kiernan, Mr. John",male,NaN,1,0,367227,7.7500,NaN,Q
122,1014,1,1,"Schabert, Mrs. Paul (Emma Mock)",female,35.00,1,0,13236,57.7500,C28,C
123,1015,0,3,"Carver, Mr. Alfred John",male,28.00,0,0,392095,7.2500,NaN,S
124,1016,0,3,"Kennedy, Mr. John",male,NaN,0,0,368783,7.7500,NaN,Q
125,1017,1,3,"Cribb, Miss. Laura Alice",female,17.00,0,1,371362,16.1000,NaN,S
126,1018,0,3,"Brobeck, Mr. Karl Rudolf",male,22.00,0,0,350045,7.7958,NaN,S
127,1019,1,3,"McCoy, Miss. Alicia",female,NaN,2,0,367226,23.2500,NaN,Q
128,1020,0,2,"Bowenur, Mr. Solomon",male,42.00,0,0,211535,13.0000,NaN,S
129,1021,0,3,"Petersen, Mr. Marius",male,24.00,0,0,342441,8.0500,NaN,S
130,1022,0,3,"Spinner, Mr. Henry John",male,32.00,0,0,STON/OQ. 369943,8.0500,NaN,S
131,1023,0,1,"Gracie, Col. Archibald IV",male,53.00,0,0,113780,28.5000,C51,C
132,1024,1,3,"Lefebre, Mrs. Frank (Frances)",female,NaN,0,4,4133,25.4667,NaN,S
133,1025,0,3,"Thomas, Mr. Charles P",male,NaN,1,0,2621,6.4375,NaN,C
134,1026,0,3,"Dintcheff, Mr. Valtcho",male,43.00,0,0,349226,7.8958,NaN,S
135,1027,0,3,"Carlsson, Mr. Carl Robert",male,24.00,0,0,350409,7.8542,NaN,S
136,1028,0,3,"Zakarian, Mr. Mapriededer",male,26.50,0,0,2656,7.2250,NaN,C
137,1029,0,2,"Schmidt, Mr. August",male,26.00,0,0,248659,13.0000,NaN,S
138,1030,1,3,"Drapkin, Miss. Jennie",female,23.00,0,0,SOTON/OQ 392083,8.0500,NaN,S
139,1031,0,3,"Goodwin, Mr. Charles Frederick",male,40.00,1,6,CA 2144,46.9000,NaN,S
140,1032,1,3,"Goodwin, Miss. Jessie Allis",female,10.00,5,2,CA 2144,46.9000,NaN,S
141,1033,1,1,"Daniels, Miss. Sarah",female,33.00,0,0,113781,151.5500,NaN,S
142,1034,0,1,"Ryerson, Mr. Arthur Larned",male,61.00,1,3,PC 17608,262.3750,B57 B59 B63 B66,C
143,1035,0,2,"Beauchamp, Mr. Henry James",male,28.00,0,0,244358,26.0000,NaN,S
144,1036,0,1,"Lindeberg-Lind, Mr. Erik Gustaf (Mr Edward Lin...",male,42.00,0,0,17475,26.5500,NaN,S
145,1037,0,3,"Vander Planke, Mr. Julius",male,31.00,3,0,345763,18.0000,NaN,S
146,1038,0,1,"Hilliard, Mr. Herbert Henry",male,NaN,0,0,17463,51.8625,E46,S
147,1039,0,3,"Davies, Mr. Evan",male,22.00,0,0,SC/A4 23568,8.0500,NaN,S
148,1040,0,1,"Crafton, Mr. John Bertram",male,NaN,0,0,113791,26.5500,NaN,S
149,1041,0,2,"Lahtinen, Rev. William",male,30.00,1,1,250651,26.0000,NaN,S
150,1042,1,1,"Earnshaw, Mrs. Boulton (Olive Potter)",female,23.00,0,1,11767,83.1583,C54,C
151,1043,0,3,"Matinoff, Mr. Nicola",male,NaN,0,0,349255,7.8958,NaN,C
152,1044,0,3,"Storey, Mr. Thomas",male,60.50,0,0,3701,NaN,NaN,S
153,1045,1,3,"Klasen, Mrs. (Hulda Kristina Eugenia Lofqvist)",female,36.00,0,2,350405,12.1833,NaN,S
154,1046,0,3,"Asplund, Master. Filip Oscar",male,13.00,4,2,347077,31.3875,NaN,S
155,1047,0,3,"Duquemin, Mr. Joseph",male,24.00,0,0,S.O./P.P. 752,7.5500,NaN,S
156,1048,1,1,"Bird, Miss. Ellen",female,29.00,0,0,PC 17483,221.7792,C97,S
157,1049,1,3,"Lundin, Miss. Olga Elida",female,23.00,0,0,347469,7.8542,NaN,S
158,1050,0,1,"Borebank, Mr. John James",male,42.00,0,0,110489,26.5500,D22,S
159,1051,1,3,"Peacock, Mrs. Benjamin (Edith Nile)",female,26.00,0,2,SOTON/O.Q. 3101315,13.7750,NaN,S
160,1052,1,3,"Smyth, Miss. Julia",female,NaN,0,0,335432,7.7333,NaN,Q
161,1053,0,3,"Touma, Master. Georges Youssef",male,7.00,1,1,2650,15.2458,NaN,C
162,1054,1,2,"Wright, Miss. Marion",female,26.00,0,0,220844,13.5000,NaN,S
163,1055,0,3,"Pearce, Mr. Ernest",male,NaN,0,0,343271,7.0000,NaN,S
164,1056,0,2,"Peruschitz, Rev. Joseph Maria",male,41.00,0,0,237393,13.0000,NaN,S
165,1057,1,3,"Kink-Heilmann, Mrs. Anton (Luise Heilmann)",female,26.00,1,1,315153,22.0250,NaN,S
166,1058,0,1,"Brandeis, Mr. Emil",male,48.00,0,0,PC 17591,50.4958,B10,C
167,1059,0,3,"Ford, Mr. Edward Watson",male,18.00,2,2,W./C. 6608,34.3750,NaN,S
168,1060,1,1,"Cassebeer, Mrs. Henry Arthur Jr (Eleanor Genev...",female,NaN,0,0,17770,27.7208,NaN,C
169,1061,1,3,"Hellstrom, Miss. Hilda Maria",female,22.00,0,0,7548,8.9625,NaN,S
170,1062,0,3,"Lithman, Mr. Simon",male,NaN,0,0,S.O./P.P. 251,7.5500,NaN,S
171,1063,0,3,"Zakarian, Mr. Ortin",male,27.00,0,0,2670,7.2250,NaN,C
172,1064,0,3,"Dyker, Mr. Adolf Fredrik",male,23.00,1,0,347072,13.9000,NaN,S
173,1065,0,3,"Torfa, Mr. Assad",male,NaN,0,0,2673,7.2292,NaN,C
174,1066,0,3,"Asplund, Mr. Carl Oscar Vilhelm Gustafsson",male,40.00,1,5,347077,31.3875,NaN,S
175,1067,1,2,"Brown, Miss. Edith Eileen",female,15.00,0,2,29750,39.0000,NaN,S
176,1068,1,2,"Sincock, Miss. Maude",female,20.00,0,0,C.A. 33112,36.7500,NaN,S
177,1069,0,1,"Stengel, Mr. Charles Emil Henry",male,54.00,1,0,11778,55.4417,C116,C
178,1070,1,2,"Becker, Mrs. Allen Oliver (Nellie E Baumgardner)",female,36.00,0,3,230136,39.0000,F4,S
179,1071,1,1,"Compton, Mrs. Alexander Taylor (Mary Eliza Ing...",female,64.00,0,2,PC 17756,83.1583,E45,C
180,1072,0,2,"McCrie, Mr. James Matthew",male,30.00,0,0,233478,13.0000,NaN,S
181,1073,0,1,"Compton, Mr. Alexander Taylor Jr",male,37.00,1,1,PC 17756,83.1583,E52,C
182,1074,1,1,"Marvin, Mrs. Daniel Warner (Mary Graham Carmic...",female,18.00,1,0,113773,53.1000,D30,S
183,1075,0,3,"Lane, Mr. Patrick",male,NaN,0,0,7935,7.7500,NaN,Q
184,1076,1,1,"Douglas, Mrs. Frederick Charles (Mary Helene B...",female,27.00,1,1,PC 17558,247.5208,B58 B60,C
185,1077,0,2,"Maybery, Mr. Frank Hubert",male,40.00,0,0,239059,16.0000,NaN,S
186,1078,1,2,"Phillips, Miss. Alice Frances Louisa",female,21.00,0,1,S.O./P.P. 2,21.0000,NaN,S
187,1079,0,3,"Davies, Mr. Joseph",male,17.00,2,0,A/4 48873,8.0500,NaN,S
188,1080,1,3,"Sage, Miss. Ada",female,NaN,8,2,CA. 2343,69.5500,NaN,S
189,1081,0,2,"Veal, Mr. James",male,40.00,0,0,28221,13.0000,NaN,S
190,1082,0,2,"Angle, Mr. William A",male,34.00,1,0,226875,26.0000,NaN,S
191,1083,0,1,"Salomon, Mr. Abraham L",male,NaN,0,0,111163,26.0000,NaN,S
192,1084,0,3,"van Billiard, Master. Walter John",male,11.50,1,1,A/5. 851,14.5000,NaN,S
193,1085,0,2,"Lingane, Mr. John",male,61.00,0,0,235509,12.3500,NaN,Q
194,1086,0,2,"Drew, Master. Marshall Brines",male,8.00,0,2,28220,32.5000,NaN,S
195,1087,0,3,"Karlsson, Mr. Julius Konrad Eugen",male,33.00,0,0,347465,7.8542,NaN,S
196,1088,0,1,"Spedden, Master. Robert Douglas",male,6.00,0,2,16966,134.5000,E34,C
197,1089,1,3,"Nilsson, Miss. Berta Olivia",female,18.00,0,0,347066,7.7750,NaN,S
198,1090,0,2,"Baimbrigge, Mr. Charles Robert",male,23.00,0,0,C.A. 31030,10.5000,NaN,S
199,1091,1,3,"Rasmussen, Mrs. (Lena Jacobsen Solvang)",female,NaN,0,0,65305,8.1125,NaN,S
200,1092,1,3,"Murphy, Miss. Nora",female,NaN,0,0,36568,15.5000,NaN,Q
201,1093,0,3,"Danbom, Master. Gilbert Sigvard Emanuel",male,0.33,0,2,347080,14.4000,NaN,S
202,1094,0,1,"Astor, Col. John Jacob",male,47.00,1,0,PC 17757,227.5250,C62 C64,C
203,1095,1,2,"Quick, Miss. Winifred Vera",female,8.00,1,1,26360,26.0000,NaN,S
204,1096,0,2,"Andrew, Mr. Frank Thomas",male,25.00,0,0,C.A. 34050,10.5000,NaN,S
205,1097,0,1,"Omont, Mr. Alfred Fernand",male,NaN,0,0,F.C. 12998,25.7417,NaN,C
206,1098,1,3,"McGowan, Miss. Katherine",female,35.00,0,0,9232,7.7500,NaN,Q
207,1099,0,2,"Collett, Mr. Sidney C Stuart",male,24.00,0,0,28034,10.5000,NaN,S
208,1100,1,1,"Rosenbaum, Miss. Edith Louise",female,33.00,0,0,PC 17613,27.7208,A11,C
209,1101,0,3,"Delalic, Mr. Redjo",male,25.00,0,0,349250,7.8958,NaN,S
210,1102,0,3,"Andersen, Mr. Albert Karvin",male,32.00,0,0,C 4001,22.5250,NaN,S
211,1103,0,3,"Finoli, Mr. Luigi",male,NaN,0,0,SOTON/O.Q. 3101308,7.0500,NaN,S
212,1104,0,2,"Deacon, Mr. Percy William",male,17.00,0,0,S.O.C. 14879,73.5000,NaN,S
213,1105,1,2,"Howard, Mrs. Benjamin (Ellen Truelove Arman)",female,60.00,1,0,24065,26.0000,NaN,S
214,1106,1,3,"Andersson, Miss. Ida Augusta Margareta",female,38.00,4,2,347091,7.7750,NaN,S
215,1107,0,1,"Head, Mr. Christopher",male,42.00,0,0,113038,42.5000,B11,S
216,1108,1,3,"Mahon, Miss. Bridget Delia",female,NaN,0,0,330924,7.8792,NaN,Q
217,1109,0,1,"Wick, Mr. George Dennick",male,57.00,1,1,36928,164.8667,NaN,S
218,1110,1,1,"Widener, Mrs. George Dunton (Eleanor Elkins)",female,50.00,1,1,113503,211.5000,C80,C
219,1111,0,3,"Thomson, Mr. Alexander Morrison",male,NaN,0,0,32302,8.0500,NaN,S
220,1112,1,2,"Duran y More, Miss. Florentina",female,30.00,1,0,SC/PARIS 2148,13.8583,NaN,C
221,1113,0,3,"Reynolds, Mr. Harold J",male,21.00,0,0,342684,8.0500,NaN,S
222,1114,1,2,"Cook, Mrs. (Selena Rogers)",female,22.00,0,0,W./C. 14266,10.5000,F33,S
223,1115,0,3,"Karlsson, Mr. Einar Gervasius",male,21.00,0,0,350053,7.7958,NaN,S
224,1116,1,1,"Candee, Mrs. Edward (Helen Churchill Hungerford)",female,53.00,0,0,PC 17606,27.4458,NaN,C
225,1117,1,3,"Moubarek, Mrs. George (Omine Amenia"" Alexander)""",female,NaN,0,2,2661,15.2458,NaN,C
226,1118,0,3,"Asplund, Mr. Johan Charles",male,23.00,0,0,350054,7.7958,NaN,S
227,1119,1,3,"McNeill, Miss. Bridget",female,NaN,0,0,370368,7.7500,NaN,Q
228,1120,0,3,"Everett, Mr. Thomas James",male,40.50,0,0,C.A. 6212,15.1000,NaN,S
229,1121,0,2,"Hocking, Mr. Samuel James Metcalfe",male,36.00,0,0,242963,13.0000,NaN,S
230,1122,0,2,"Sweet, Mr. George Frederick",male,14.00,0,0,220845,65.0000,NaN,S
231,1123,1,1,"Willard, Miss. Constance",female,21.00,0,0,113795,26.5500,NaN,S
232,1124,0,3,"Wiklund, Mr. Karl Johan",male,21.00,1,0,3101266,6.4958,NaN,S
233,1125,0,3,"Linehan, Mr. Michael",male,NaN,0,0,330971,7.8792,NaN,Q
234,1126,0,1,"Cumings, Mr. John Bradley",male,39.00,1,0,PC 17599,71.2833,C85,C
235,1127,0,3,"Vendel, Mr. Olof Edvin",male,20.00,0,0,350416,7.8542,NaN,S
236,1128,0,1,"Warren, Mr. Frank Manley",male,64.00,1,0,110813,75.2500,D37,C
237,1129,0,3,"Baccos, Mr. Raffull",male,20.00,0,0,2679,7.2250,NaN,C
238,1130,1,2,"Hiltunen, Miss. Marta",female,18.00,1,1,250650,13.0000,NaN,S
239,1131,1,1,"Douglas, Mrs. Walter Donald (Mahala Dutton)",female,48.00,1,0,PC 17761,106.4250,C86,C
240,1132,1,1,"Lindstrom, Mrs. Carl Johan (Sigrid Posse)",female,55.00,0,0,112377,27.7208,NaN,C
241,1133,1,2,"Christy, Mrs. (Alice Frances)",female,45.00,0,2,237789,30.0000,NaN,S
242,1134,0,1,"Spedden, Mr. Frederic Oakley",male,45.00,1,1,16966,134.5000,E34,C
243,1135,0,3,"Hyman, Mr. Abraham",male,NaN,0,0,3470,7.8875,NaN,S
244,1136,0,3,"Johnston, Master. William Arthur Willie""""",male,NaN,1,2,W./C. 6607,23.4500,NaN,S
245,1137,0,1,"Kenyon, Mr. Frederick R",male,41.00,1,0,17464,51.8625,D21,S
246,1138,1,2,"Karnes, Mrs. J Frank (Claire Bennett)",female,22.00,0,0,F.C.C. 13534,21.0000,NaN,S
247,1139,0,2,"Drew, Mr. James Vivian",male,42.00,1,1,28220,32.5000,NaN,S
248,1140,1,2,"Hold, Mrs. Stephen (Annie Margaret Hill)",female,29.00,1,0,26707,26.0000,NaN,S
249,1141,1,3,"Khalil, Mrs. Betros (Zahie Maria"" Elias)""",female,NaN,1,0,2660,14.4542,NaN,C

In [178]:
data.shape

(418, 12)

In [179]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
 2   Pclass       418 non-null    int64
 3   Name         418 non-null    object
 4   Sex          418 non-null    object
 5   Age          332 non-null    float64
 6   SibSp        418 non-null    int64
 7   Parch        418 non-null    int64
 8   Ticket       418 non-null    object
 9   Fare         417 non-null    float64
 10  Cabin        91 non-null     object
 11  Embarked     418 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 39.3+ KB

In [180]:
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [181]:

data.sort_values('Age')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
354,1246,1,3,"Dean, Miss. Elizabeth Gladys Millvina""""",female,0.17,1,2,C.A. 2315,20.5750,NaN,S
201,1093,0,3,"Danbom, Master. Gilbert Sigvard Emanuel",male,0.33,0,2,347080,14.4000,NaN,S
281,1173,0,3,"Peacock, Master. Alfred Edward",male,0.75,1,1,SOTON/O.Q. 3101315,13.7750,NaN,S
307,1199,0,3,"Aks, Master. Philip Frank",male,0.83,0,1,392091,9.3500,NaN,S
250,1142,1,2,"West, Miss. Barbara J",female,0.92,1,2,C.A. 34651,27.7500,NaN,S
117,1009,1,3,"Sandstrom, Miss. Beatrice Irene",female,1.00,1,1,PP 9549,16.7000,G6,S
296,1188,1,2,"Laroche, Miss. Louise",female,1.00,1,2,SC/Paris 2123,41.5792,NaN,C
263,1155,1,3,"Klasen, Miss. Gertrud Emilia",female,1.00,1,1,350405,12.1833,NaN,S
284,1176,1,3,"Rosblom, Miss. Salli Helena",female,2.00,1,1,370129,20.2125,NaN,S
89,981,0,2,"Wells, Master. Ralph Lester",male,2.00,1,1,29103,23.0000,NaN,S
409,1301,1,3,"Peacock, Miss. Treasteall",female,3.00,1,1,SOTON/O.Q. 3101315,13.7750,NaN,S
379,1271,0,3,"Asplund, Master. Carl Edgar",male,5.00,4,2,347077,31.3875,NaN,S
389,1281,0,3,"Palsson, Master. Paul Folke",male,6.00,3,1,349909,21.0750,NaN,S
80,972,0,3,"Boulos, Master. Akar",male,6.00,1,1,2678,15.2458,NaN,C
196,1088,0,1,"Spedden, Master. Robert Douglas",male,6.00,0,2,16966,134.5000,E34,C
161,1053,0,3,"Touma, Master. Georges Youssef",male,7.00,1,1,2650,15.2458,NaN,C
203,1095,1,2,"Quick, Miss. Winifred Vera",female,8.00,1,1,26360,26.0000,NaN,S
194,1086,0,2,"Drew, Master. Marshall Brines",male,8.00,0,2,28220,32.5000,NaN,S
283,1175,1,3,"Touma, Miss. Maria Youssef",female,9.00,1,1,2650,15.2458,NaN,C
21,913,0,3,"Olsen, Master. Artur Karl",male,9.00,0,1,C 17368,3.1708,NaN,S
140,1032,1,3,"Goodwin, Miss. Jessie Allis",female,10.00,5,2,CA 2144,46.9000,NaN,S
55,947,0,3,"Rice, Master. Albert",male,10.00,4,1,382652,29.1250,NaN,Q
192,1084,0,3,"van Billiard, Master. Walter John",male,11.50,1,1,A/5. 851,14.5000,NaN,S
120,1012,1,2,"Watt, Miss. Bertha J",female,12.00,0,0,C.A. 33595,15.7500,NaN,S
326,1218,1,2,"Becker, Miss. Ruth Elizabeth",female,12.00,2,1,230136,39.0000,F4,S
392,1284,0,3,"Abbott, Master. Eugene Joseph",male,13.00,0,2,C.A. 2673,20.2500,NaN,S
64,956,0,1,"Ryerson, Master. John Borie",male,13.00,2,2,PC 17608,262.3750,B57 B59 B63 B66,C
154,1046,0,3,"Asplund, Master. Filip Oscar",male,13.00,4,2,347077,31.3875,NaN,S
5,897,0,3,"Svensson, Mr. Johan Cervin",male,14.00,0,0,7538,9.2250,NaN,S
230,1122,0,2,"Sweet, Mr. George Frederick",male,14.00,0,0,220845,65.0000,NaN,S
360,1252,0,3,"Sage, Master. William Henry",male,14.50,8,2,CA. 2343,69.5500,NaN,S
175,1067,1,2,"Brown, Miss. Edith Eileen",female,15.00,0,2,29750,39.0000,NaN,S
345,1237,1,3,"Abelseth, Miss. Karen Marie",female,16.00,0,0,348125,7.6500,NaN,S
104,996,1,3,"Thomas, Mrs. Alexander (Thamine Thelma"")""",female,16.00,1,1,2625,8.5167,NaN,C
125,1017,1,3,"Cribb, Miss. Laura Alice",female,17.00,0,1,371362,16.1000,NaN,S
60,952,0,3,"Dika, Mr. Mirko",male,17.00,0,0,349232,7.8958,NaN,S
187,1079,0,3,"Davies, Mr. Joseph",male,17.00,2,0,A/4 48873,8.0500,NaN,S
269,1161,0,3,"Pokrnic, Mr. Mate",male,17.00,0,0,315095,8.6625,NaN,S
403,1295,0,1,"Carrau, Mr. Jose Pedro",male,17.00,0,0,113059,47.1000,NaN,S
212,1104,0,2,"Deacon, Mr. Percy William",male,17.00,0,0,S.O.C. 14879,73.5000,NaN,S
315,1207,1,3,"Hagardon, Miss. Kate",female,17.00,0,0,AQ/3. 30631,7.7333,NaN,Q
238,1130,1,2,"Hiltunen, Miss. Marta",female,18.00,1,1,250650,13.0000,NaN,S
197,1089,1,3,"Nilsson, Miss. Berta Olivia",female,18.00,0,0,347066,7.7750,NaN,S
310,1202,0,3,"Cacic, Mr. Jego Grga",male,18.00,0,0,315091,8.6625,NaN,S
395,1287,1,1,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",female,18.00,1,0,13695,60.0000,C31,S
340,1232,0,2,"Fillbrook, Mr. Joseph Charles",male,18.00,0,0,C.A. 15185,10.5000,NaN,S
352,1244,0,2,"Dibden, Mr. William",male,18.00,0,0,S.O.C. 14879,73.5000,NaN,S
8,900,1,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.00,0,0,2657,7.2292,NaN,C
115,1007,0,3,"Chronopoulos, Mr. Demetrios",male,18.00,1,0,2680,14.4542,NaN,C
66,958,1,3,"Burns, Miss. Mary Delia",female,18.00,0,0,330963,7.8792,NaN,Q
87,979,1,3,"Badman, Miss. Emily Louisa",female,18.00,0,0,A/4 31416,8.0500,NaN,S
182,1074,1,1,"Marvin, Mrs. Daniel Warner (Mary Graham Carmic...",female,18.00,1,0,113773,53.1000,D30,S
167,1059,0,3,"Ford, Mr. Edward Watson",male,18.00,2,2,W./C. 6608,34.3750,NaN,S
62,954,0,3,"Bjorklund, Mr. Ernst Herbert",male,18.00,0,0,347090,7.7500,NaN,S
35,927,0,3,"Katavelas, Mr. Vassilios (Catavelas Vassilios"")""",male,18.50,0,0,2682,7.2292,NaN,C
113,1005,1,3,"Buckley, Miss. Katherine",female,18.50,0,0,329944,7.2833,NaN,Q
109,1001,0,2,"Swane, Mr. George",male,18.50,0,0,248734,13.0000,F,S
333,1225,1,3,"Nakid, Mrs. Said (Waika Mary"" Mowad)""",female,19.00,1,1,2653,15.7417,NaN,C
317,1209,0,2,"Rogers, Mr. Reginald Harry",male,19.00,0,0,28004,10.5000,NaN,S
258,1150,1,2,"Bentham, Miss. Lilian W",female,19.00,0,0,28404,13.0000,NaN,S
383,1275,1,3,"McNamee, Mrs. Neal (Eileen O'Leary)",female,19.00,1,0,376566,16.1000,NaN,S
176,1068,1,2,"Sincock, Miss. Maude",female,20.00,0,0,C.A. 33112,36.7500,NaN,S
98,990,1,3,"Braf, Miss. Elin Ester Maria",female,20.00,0,0,347471,7.8542,NaN,S
52,944,1,2,"Hocking, Miss. Ellen Nellie""""",female,20.00,2,1,29105,23.0000,NaN,S
235,1127,0,3,"Vendel, Mr. Olof Edvin",male,20.00,0,0,350416,7.8542,NaN,S
237,1129,0,3,"Baccos, Mr. Raffull",male,20.00,0,0,2679,7.2250,NaN,C
405,1297,0,2,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",male,20.00,0,0,SC/PARIS 2166,13.8625,D38,C
275,1167,1,2,"Bryhl, Miss. Dagmar Jenny Ingeborg",female,20.00,1,0,236853,26.0000,NaN,S
251,1143,0,3,"Abrahamsson, Mr. Abraham August Johannes",male,20.00,0,0,SOTON/O2 3101284,7.9250,NaN,S
186,1078,1,2,"Phillips, Miss. Alice Frances Louisa",female,21.00,0,1,S.O./P.P. 2,21.0000,NaN,S
329,1221,0,2,"Enander, Mr. Ingvar",male,21.00,0,0,236854,13.0000,NaN,S
370,1262,0,2,"Giles, Mr. Edgar",male,21.00,1,0,28133,11.5000,NaN,S
388,1280,0,3,"Canavan, Mr. Patrick",male,21.00,0,0,364858,7.7500,NaN,Q
9,901,0,3,"Davies, Mr. John Samuel",male,21.00,2,0,A/4 48871,24.1500,NaN,S
17,909,0,3,"Assaf, Mr. Gerios",male,21.00,0,0,2692,7.2250,NaN,C
23,915,0,1,"Williams, Mr. Richard Norris II",male,21.00,0,1,PC 17597,61.3792,NaN,C
37,929,1,3,"Cacic, Miss. Manda",female,21.00,0,0,315087,8.6625,NaN,S
377,1269,0,2,"Cotterill, Mr. Henry Harry""""",male,21.00,0,0,29107,11.5000,NaN,S
106,998,0,3,"Buckley, Mr. Daniel",male,21.00,0,0,330920,7.8208,NaN,Q
71,963,0,3,"Minkoff, Mr. Lazar",male,21.00,0,0,349211,7.8958,NaN,S
259,1151,0,3,"Midtsjo, Mr. Karl Albert",male,21.00,0,0,345501,7.7750,NaN,S
221,1113,0,3,"Reynolds, Mr. Harold J",male,21.00,0,0,342684,8.0500,NaN,S
261,1153,0,3,"Nilsson, Mr. August Ferdinand",male,21.00,0,0,350410,7.8542,NaN,S
231,1123,1,1,"Willard, Miss. Constance",female,21.00,0,0,113795,26.5500,NaN,S
232,1124,0,3,"Wiklund, Mr. Karl Johan",male,21.00,1,0,3101266,6.4958,NaN,S
223,1115,0,3,"Karlsson, Mr. Einar Gervasius",male,21.00,0,0,350053,7.7958,NaN,S
402,1294,1,1,"Gibson, Miss. Dorothy Winifred",female,22.00,0,1,112378,59.4000,NaN,C
398,1290,0,3,"Larsson-Rondberg, Mr. Edvard A",male,22.00,0,0,347065,7.7750,NaN,S
26,918,1,1,"Ostby, Miss. Helene Ragnhild",female,22.00,0,1,113509,61.9792,B36,C
90,982,1,3,"Dyker, Mrs. Adolf Fredrik (Anna Elisabeth Judi...",female,22.00,1,0,347072,13.9000,NaN,S
246,1138,1,2,"Karnes, Mrs. J Frank (Claire Bennett)",female,22.00,0,0,F.C.C. 13534,21.0000,NaN,S
376,1268,1,3,"Kink, Miss. Maria",female,22.00,2,0,315152,8.6625,NaN,S
279,1171,0,2,"Oxenham, Mr. Percy Thomas",male,22.00,0,0,W./C. 14260,10.5000,NaN,S
222,1114,1,2,"Cook, Mrs. (Selena Rogers)",female,22.00,0,0,W./C. 14266,10.5000,F33,S
311,1203,0,3,"Vartanian, Mr. David",male,22.00,0,0,2658,7.2250,NaN,C
319,1211,0,2,"Jefferys, Mr. Ernest Wilfred",male,22.00,2,0,C.A. 31029,31.5000,NaN,S
126,1018,0,3,"Brobeck, Mr. Karl Rudolf",male,22.00,0,0,350045,7.7958,NaN,S
169,1061,1,3,"Hellstrom, Miss. Hilda Maria",female,22.00,0,0,7548,8.9625,NaN,S
63,955,1,3,"Bradley, Miss. Bridget Delia",female,22.00,0,0,334914,7.7250,NaN,Q
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.00,1,1,3101298,12.2875,NaN,S
147,1039,0,3,"Davies, Mr. Evan",male,22.00,0,0,SC/A4 23568,8.0500,NaN,S
367,1259,1,3,"Riihivouri, Miss. Susanna Juhantytar Sanni""""",female,22.00,0,0,3101295,39.6875,NaN,S
27,919,0,3,"Daher, Mr. Shedid",male,22.50,0,0,2698,7.2250,NaN,C
150,1042,1,1,"Earnshaw, Mrs. Boulton (Olive Potter)",female,23.00,0,1,11767,83.1583,C54,C
198,1090,0,2,"Baimbrigge, Mr. Charles Robert",male,23.00,0,0,C.A. 31030,10.5000,NaN,S
157,1049,1,3,"Lundin, Miss. Olga Elida",female,23.00,0,0,347469,7.8542,NaN,S
172,1064,0,3,"Dyker, Mr. Adolf Fredrik",male,23.00,1,0,347072,13.9000,NaN,S
138,1030,1,3,"Drapkin, Miss. Jennie",female,23.00,0,0,SOTON/OQ 392083,8.0500,NaN,S
390,1282,0,1,"Payne, Mr. Vivian Ponsonby",male,23.00,0,0,12749,93.5000,B24,S
226,1118,0,3,"Asplund, Mr. Johan Charles",male,23.00,0,0,350054,7.7958,NaN,S
406,1298,0,2,"Ware, Mr. William Jeffery",male,23.00,1,0,28666,10.5000,NaN,S
280,1172,1,3,"Oreskovic, Miss. Jelka",female,23.00,0,0,315085,8.6625,NaN,S
12,904,1,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",female,23.00,1,0,21228,82.2667,B45,S
325,1217,0,3,"Assam, Mr. Ali",male,23.00,0,0,SOTON/O.Q. 3101309,7.0500,NaN,S
135,1027,0,3,"Carlsson, Mr. Carl Robert",male,24.00,0,0,350409,7.8542,NaN,S
348,1240,0,2,"Giles, Mr. Ralph",male,24.00,0,0,248726,13.5000,NaN,S
253,1145,0,3,"Salander, Mr. Karl Johan",male,24.00,0,0,7266,9.3250,NaN,S
303,1195,0,3,"Pokrnic, Mr. Tome",male,24.00,0,0,315092,8.6625,NaN,S
207,1099,0,2,"Collett, Mr. Sidney C Stuart",male,24.00,0,0,28034,10.5000,NaN,S
155,1047,0,3,"Duquemin, Mr. Joseph",male,24.00,0,0,S.O./P.P. 752,7.5500,NaN,S
79,971,1,3,"Doyle, Miss. Elizabeth",female,24.00,0,0,368702,7.7500,NaN,Q
70,962,1,3,"Mulvihill, Miss. Bertha E",female,24.00,0,0,382653,7.7500,NaN,Q
129,1021,0,3,"Petersen, Mr. Marius",male,24.00,0,0,342441,8.0500,NaN,S
15,907,1,2,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",female,24.00,1,0,SC/PARIS 2167,27.7208,NaN,C
361,1253,1,2,"Mallet, Mrs. Albert (Antoinette Magnin)",female,24.00,1,1,S.C./PARIS 2079,37.0042,NaN,C
50,942,0,1,"Smith, Mr. Lucien Philip",male,24.00,1,0,13695,60.0000,C31,S
385,1277,1,2,"Herman, Miss. Kate",female,24.00,1,2,220845,65.0000,NaN,S
386,1278,0,3,"Aronsson, Mr. Ernst Axel Algot",male,24.00,0,0,349911,7.7750,NaN,S
31,923,0,2,"Jefferys, Mr. Clifford Thomas",male,24.00,2,0,C.A. 31029,31.5000,NaN,S
396,1288,0,3,"Colbert, Mr. Patrick",male,24.00,0,0,371109,7.2500,NaN,Q
287,1179,0,1,"Snyder, Mr. John Pillsbury",male,24.00,1,0,21228,82.2667,B45,S
351,1243,0,2,"Stokes, Mr. Philip Joseph",male,25.00,0,0,F.C.C. 13540,10.5000,NaN,S
38,930,0,3,"Sap, Mr. Julius",male,25.00,0,0,345768,9.5000,NaN,S
209,1101,0,3,"Delalic, Mr. Redjo",male,25.00,0,0,349250,7.8958,NaN,S
338,1230,0,2,"Denbury, Mr. Herbert",male,25.00,0,0,C.A. 31029,31.5000,NaN,S
45,937,0,3,"Peltomaki, Mr. Nikolai Johannes",male,25.00,0,0,STON/O 2. 3101291,7.9250,NaN,S
94,986,0,1,"Birnbaum, Mr. Jakob",male,25.00,0,0,13905,26.0000,NaN,C
364,1256,1,1,"Harder, Mrs. George Achilles (Dorothy Annan)",female,25.00,1,0,11765,55.4417,E50,C
321,1213,0,3,"Krekorian, Mr. Neshan",male,25.00,0,0,2654,7.2292,F E57,C
57,949,0,3,"Abelseth, Mr. Olaus Jorgensen",male,25.00,0,0,348122,7.6500,F G63,S
95,987,0,3,"Tenglin, Mr. Gunnar Isidor",male,25.00,0,0,350033,7.7958,NaN,S
204,1096,0,2,"Andrew, Mr. Frank Thomas",male,25.00,0,0,C.A. 34050,10.5000,NaN,S
346,1238,0,2,"Botsford, Mr. William Hull",male,26.00,0,0,237670,13.0000,NaN,S
272,1164,1,1,"Clark, Mrs. Walter Miller (Virginia McDowell)",female,26.00,1,0,13508,136.7792,C89,C
137,1029,0,2,"Schmidt, Mr. August",male,26.00,0,0,248659,13.0000,NaN,S
165,1057,1,3,"Kink-Heilmann, Mrs. Anton (Luise Heilmann)",female,26.00,1,1,315153,22.0250,NaN,S
320,1212,0,3,"Andersson, Mr. Johan Samuel",male,26.00,0,0,347075,7.7750,NaN,S
159,1051,1,3,"Peacock, Mrs. Benjamin (Edith Nile)",female,26.00,0,2,SOTON/O.Q. 3101315,13.7750,NaN,S
162,1054,1,2,"Wright, Miss. Marion",female,26.00,0,0,220844,13.5000,NaN,S
103,995,0,3,"Johansson Palmquist, Mr. Oskar Leander",male,26.00,0,0,347070,7.7750,NaN,S
381,1273,0,3,"Foley, Mr. Joseph",male,26.00,0,0,330910,7.8792,NaN,Q
322,1214,0,2,"Nesson, Mr. Israel",male,26.00,0,0,244368,13.0000,F2,S
7,899,0,2,"Caldwell, Mr. Albert Francis",male,26.00,1,1,248738,29.0000,NaN,S
295,1187,0,3,"Angheloff, Mr. Minko",male,26.00,0,0,349202,7.8958,NaN,S
136,1028,0,3,"Zakarian, Mr. Mapriededer",male,26.50,0,0,2656,7.2250,NaN,C
363,1255,0,3,"Strilic, Mr. Ivan",male,27.00,0,0,315083,8.6625,NaN,S
171,1063,0,3,"Zakarian, Mr. Ortin",male,27.00,0,0,2670,7.2250,NaN,C
252,1144,0,1,"Clark, Mr. Walter Miller",male,27.00,1,0,13508,136.7792,C89,C
318,1210,0,3,"Jonsson, Mr. Nils Hilding",male,27.00,0,0,350408,7.8542,NaN,S
18,910,1,3,"Ilmakangas, Miss. Ida Livija",female,27.00,1,0,STON/O2. 3101270,7.9250,NaN,S
3,895,0,3,"Wirz, Mr. Albert",male,27.00,0,0,315154,8.6625,NaN,S
51,943,0,2,"Pulbaum, Mr. Franz",male,27.00,0,0,SC/PARIS 2168,15.0333,NaN,C
92,984,1,1,"Davidson, Mrs. Thornton (Orian Hays)",female,27.00,1,2,F.C. 12750,52.0000,B71,S
86,978,1,3,"Barry, Miss. Julia",female,27.00,0,0,330844,7.8792,NaN,Q
334,1226,0,3,"Cor, Mr. Ivan",male,27.00,0,0,349229,7.8958,NaN,S
184,1076,1,1,"Douglas, Mrs. Frederick Charles (Mary Helene B...",female,27.00,1,1,PC 17558,247.5208,B58 B60,C
101,993,0,2,"Weisz, Mr. Leopold",male,27.00,1,0,228414,26.0000,NaN,S
276,1168,0,2,"Parker, Mr. Clifford Richard",male,28.00,0,0,SC 14888,10.5000,NaN,S
105,997,0,3,"Holthen, Mr. Johan Martin",male,28.00,0,0,C 4001,22.5250,NaN,S
257,1149,0,3,"Niklasson, Mr. Samuel",male,28.00,0,0,363611,8.0500,NaN,S
53,945,1,1,"Fortune, Miss. Ethel Flora",female,28.00,3,2,19950,263.0000,C23 C25 C27,S
143,1035,0,2,"Beauchamp, Mr. Henry James",male,28.00,0,0,244358,26.0000,NaN,S
123,1015,0,3,"Carver, Mr. Alfred John",male,28.00,0,0,392095,7.2500,NaN,S
412,1304,1,3,"Henriksson, Miss. Jenny Lovisa",female,28.00,0,0,347086,7.7750,NaN,S
73,965,0,1,"Ovies y Rodriguez, Mr. Servando",male,28.50,0,0,PC 17562,27.7208,D43,C
72,964,1,3,"Nieminen, Miss. Manta Josefina",female,29.00,0,0,3101297,7.9250,NaN,S
119,1011,1,2,"Chapman, Mrs. John Henry (Sara Elizabeth Lawry)",female,29.00,1,0,SC/AH 29037,26.0000,NaN,S
394,1286,0,3,"Kink-Heilmann, Mr. Anton",male,29.00,3,1,315153,22.0250,NaN,S
248,1140,1,2,"Hold, Mrs. Stephen (Annie Margaret Hill)",female,29.00,1,0,26707,26.0000,NaN,S
262,1154,1,2,"Wells, Mrs. Arthur Henry (Addie"" Dart Trevaskis)""",female,29.00,0,2,29103,23.0000,NaN,S
299,1191,0,3,"Johansson, Mr. Nils",male,29.00,0,0,347467,7.8542,NaN,S
328,1220,0,2,"Clarke, Mr. Charles Valentine",male,29.00,1,0,2003,26.0000,NaN,S
156,1048,1,1,"Bird, Miss. Ellen",female,29.00,0,0,PC 17483,221.7792,C97,S
97,989,0,3,"Makinen, Mr. Kalle Edvard",male,29.00,0,0,STON/O 2. 3101268,7.9250,NaN,S
369,1261,0,2,"Pallas y Castello, Mr. Emilio",male,29.00,0,0,SC/PARIS 2147,13.8583,NaN,C
149,1041,0,2,"Lahtinen, Rev. William",male,30.00,1,1,250651,26.0000,NaN,S
180,1072,0,2,"McCrie, Mr. James Matthew",male,30.00,0,0,233478,13.0000,NaN,S
335,1227,0,1,"Maguire, Mr. John Edward",male,30.00,0,0,110469,26.0000,C106,S
359,1251,1,3,"Lindell, Mrs. Edvard Bengtsson (Elin Gerda Per...",female,30.00,1,0,349910,15.5500,NaN,S
34,926,0,1,"Mock, Mr. Philipp Edmund",male,30.00,1,0,13236,57.7500,C78,C
6,898,1,3,"Connolly, Miss. Kate",female,30.00,0,0,330972,7.6292,NaN,Q
78,970,0,2,"Aldworth, Mr. Charles Augustus",male,30.00,0,0,248744,13.0000,NaN,S
298,1190,0,1,"Loring, Mr. Joseph Holland",male,30.00,0,0,113801,45.5000,NaN,S
264,1156,0,2,"Portaluppi, Mr. Emilio Ilario Giuseppe",male,30.00,0,0,C.A. 34644,12.7375,NaN,C
220,1112,1,2,"Duran y More, Miss. Florentina",female,30.00,1,0,SC/PARIS 2148,13.8583,NaN,C
306,1198,0,1,"Allison, Mr. Hudson Joshua Creighton",male,30.00,1,2,113781,151.5500,C22 C26,S
291,1183,1,3,"Daly, Miss. Margaret Marcella Maggie""""",female,30.00,0,0,382650,6.9500,NaN,Q
43,935,1,2,"Corbett, Mrs. Walter H (Irene Colvin)",female,30.00,0,0,237249,13.0000,NaN,S
278,1170,0,2,"Ware, Mr. John James",male,30.00,1,0,CA 31352,21.0000,NaN,S
400,1292,1,1,"Bonnell, Miss. Caroline",female,30.00,0,0,36928,164.8667,C7,S
68,960,0,1,"Tucker, Mr. Gilbert Milligan Jr",male,31.00,0,0,2543,28.5375,C53,C
362,1254,1,2,"Ware, Mrs. John James (Florence Louise Long)",female,31.00,0,0,CA 31352,21.0000,NaN,S
371,1263,1,1,"Wilson, Miss. Helen Alice",female,31.00,0,0,16966,134.5000,E39 E41,C
145,1037,0,3,"Vander Planke, Mr. Julius",male,31.00,3,0,345763,18.0000,NaN,S
399,1291,0,3,"Conlon, Mr. Thomas Henry",male,31.00,0,0,21332,7.7333,NaN,Q
349,1241,1,2,"Walcroft, Miss. Nellie",female,31.00,0,0,F.C.C. 13528,21.0000,NaN,S
341,1233,0,3,"Lundstrom, Mr. Thure Edvin",male,32.00,0,0,350403,7.5792,NaN,S
210,1102,0,3,"Andersen, Mr. Albert Karvin",male,32.00,0,0,C 4001,22.5250,NaN,S
336,1228,0,2,"de Brito, Mr. Jose Joaquim",male,32.00,0,0,244360,13.0000,NaN,S
61,953,0,2,"McCrae, Mr. Arthur Gordon",male,32.00,0,0,237216,13.5000,NaN,S
300,1192,0,3,"Olsson, Mr. Oscar Wilhelm",male,32.00,0,0,347079,7.7750,NaN,S
130,1022,0,3,"Spinner, Mr. Henry John",male,32.00,0,0,STON/OQ. 369943,8.0500,NaN,S
75,967,0,1,"Keeping, Mr. Edwin",male,32.50,0,0,113503,211.5000,C132,C
254,1146,0,3,"Wenzel, Mr. Linhart",male,32.50,0,0,345775,9.5000,NaN,S
195,1087,0,3,"Karlsson, Mr. Julius Konrad Eugen",male,33.00,0,0,347465,7.8542,NaN,S
32,924,1,3,"Dean, Mrs. Bertram (Eva Georgetta Light)",female,33.00,1,2,C.A. 2315,20.5750,NaN,S
141,1033,1,1,"Daniels, Miss. Sarah",female,33.00,0,0,113781,151.5500,NaN,S
323,1215,0,1,"Rowe, Mr. Alfred G",male,33.00,0,0,113790,26.5500,NaN,S
208,1100,1,1,"Rosenbaum, Miss. Edith Louise",female,33.00,0,0,PC 17613,27.7208,A11,C
99,991,0,3,"Nancarrow, Mr. William Henry",male,33.00,0,0,A./5. 3338,8.0500,NaN,S
190,1082,0,2,"Angle, Mr. William A",male,34.00,1,0,226875,26.0000,NaN,S
0,892,0,3,"Kelly, Mr. James",male,34.50,0,0,330911,7.8292,NaN,Q
56,948,0,3,"Cor, Mr. Bartol",male,35.00,0,0,349230,7.8958,NaN,S
16,908,0,2,"Keane, Mr. Daniel",male,35.00,0,0,233734,12.3500,NaN,Q
122,1014,1,1,"Schabert, Mrs. Paul (Emma Mock)",female,35.00,1,0,13236,57.7500,C28,C
74,966,1,1,"Geiger, Miss. Amalie",female,35.00,0,0,113503,211.5000,C130,C
206,1098,1,3,"McGowan, Miss. Katherine",female,35.00,0,0,9232,7.7500,NaN,Q
178,1070,1,2,"Becker, Mrs. Allen Oliver (Nellie E Baumgardner)",female,36.00,0,3,230136,39.0000,F4,S
59,951,1,1,"Chaudanson, Miss. Victorine",female,36.00,0,0,PC 17608,262.3750,B61,C
153,1045,1,3,"Klasen, Mrs. (Hulda Kristina Eugenia Lofqvist)",female,36.00,0,2,350405,12.1833,NaN,S
112,1004,1,1,"Evans, Miss. Edith Corse",female,36.00,0,0,PC 17531,31.6792,A29,C
118,1010,0,1,"Beattie, Mr. Thomson",male,36.00,0,0,13050,75.2417,C6,C
49,941,1,3,"Coutts, Mrs. William (Winnie Minnie"" Treanor)""",female,36.00,0,2,C.A. 37671,15.9000,NaN,S
229,1121,0,2,"Hocking, Mr. Samuel James Metcalfe",male,36.00,0,0,242963,13.0000,NaN,S
285,1177,0,3,"Dennis, Mr. William",male,36.00,0,0,A/5 21175,7.2500,NaN,S
294,1186,0,3,"Wittevrongel, Mr. Camille",male,36.00,0,0,345771,9.5000,NaN,S
260,1152,0,3,"de Messemaeker, Mr. Guillaume Joseph",male,36.50,1,0,345572,17.4000,NaN,S
313,1205,1,3,"Carr, Miss. Jeannie",female,37.00,0,0,368364,7.7500,NaN,Q
181,1073,0,1,"Compton, Mr. Alexander Taylor Jr",male,37.00,1,1,PC 17756,83.1583,E52,C
411,1303,1,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,37.00,1,0,19928,90.0000,C78,Q
401,1293,0,2,"Gale, Mr. Harry",male,38.00,1,0,28664,21.0000,NaN,S
214,1106,1,3,"Andersson, Miss. Ida Augusta Margareta",female,38.00,4,2,347091,7.7750,NaN,S
347,1239,1,3,"Whabee, Mrs. George Joseph (Shawneene Abi-Saab)",female,38.00,0,0,2688,7.2292,NaN,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.50,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
234,1126,0,1,"Cumings, Mr. John Bradley",male,39.00,1,0,PC 17599,71.2833,C85,C
324,1216,1,1,"Kreuchen, Miss. Emilie",female,39.00,0,0,24160,211.3375,NaN,S
337,1229,0,3,"Elias, Mr. Joseph",male,39.00,0,2,2675,7.2292,NaN,C
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.00,0,0,PC 17758,108.9000,C105,C

In [182]:
data.sort_values('Embarked',inplace=True)
data2=data.reset_index()
data2.drop(columns='index',inplace=True)
data2

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1100,1,1,"Rosenbaum, Miss. Edith Louise",female,33.00,0,0,PC 17613,27.7208,A11,C
1,1069,0,1,"Stengel, Mr. Charles Emil Henry",male,54.00,1,0,11778,55.4417,C116,C
2,1071,1,1,"Compton, Mrs. Alexander Taylor (Mary Eliza Ing...",female,64.00,0,2,PC 17756,83.1583,E45,C
3,1073,0,1,"Compton, Mr. Alexander Taylor Jr",male,37.00,1,1,PC 17756,83.1583,E52,C
4,1076,1,1,"Douglas, Mrs. Frederick Charles (Mary Helene B...",female,27.00,1,1,PC 17558,247.5208,B58 B60,C
5,1088,0,1,"Spedden, Master. Robert Douglas",male,6.00,0,2,16966,134.5000,E34,C
6,1094,0,1,"Astor, Col. John Jacob",male,47.00,1,0,PC 17757,227.5250,C62 C64,C
7,1097,0,1,"Omont, Mr. Alfred Fernand",male,NaN,0,0,F.C. 12998,25.7417,NaN,C
8,1110,1,1,"Widener, Mrs. George Dunton (Eleanor Elkins)",female,50.00,1,1,113503,211.5000,C80,C
9,1112,1,2,"Duran y More, Miss. Florentina",female,30.00,1,0,SC/PARIS 2148,13.8583,NaN,C
10,1116,1,1,"Candee, Mrs. Edward (Helen Churchill Hungerford)",female,53.00,0,0,PC 17606,27.4458,NaN,C
11,1117,1,3,"Moubarek, Mrs. George (Omine Amenia"" Alexander)""",female,NaN,0,2,2661,15.2458,NaN,C
12,1126,0,1,"Cumings, Mr. John Bradley",male,39.00,1,0,PC 17599,71.2833,C85,C
13,1128,0,1,"Warren, Mr. Frank Manley",male,64.00,1,0,110813,75.2500,D37,C
14,1129,0,3,"Baccos, Mr. Raffull",male,20.00,0,0,2679,7.2250,NaN,C
15,1131,1,1,"Douglas, Mrs. Walter Donald (Mahala Dutton)",female,48.00,1,0,PC 17761,106.4250,C86,C
16,1065,0,3,"Torfa, Mr. Assad",male,NaN,0,0,2673,7.2292,NaN,C
17,1063,0,3,"Zakarian, Mr. Ortin",male,27.00,0,0,2670,7.2250,NaN,C
18,1060,1,1,"Cassebeer, Mrs. Henry Arthur Jr (Eleanor Genev...",female,NaN,0,0,17770,27.7208,NaN,C
19,1058,0,1,"Brandeis, Mr. Emil",male,48.00,0,0,PC 17591,50.4958,B10,C
20,986,0,1,"Birnbaum, Mr. Jakob",male,25.00,0,0,13905,26.0000,NaN,C
21,992,1,1,"Stengel, Mrs. Charles Emil Henry (Annie May Mo...",female,43.00,1,0,11778,55.4417,C116,C
22,996,1,3,"Thomas, Mrs. Alexander (Thamine Thelma"")""",female,16.00,1,1,2625,8.5167,NaN,C
23,1002,0,2,"Stanton, Mr. Samuel Ward",male,41.00,0,0,237734,15.0458,NaN,C
24,1004,1,1,"Evans, Miss. Edith Corse",female,36.00,0,0,PC 17531,31.6792,A29,C
25,1007,0,3,"Chronopoulos, Mr. Demetrios",male,18.00,1,0,2680,14.4542,NaN,C
26,1008,0,3,"Thomas, Mr. John",male,NaN,0,0,2681,6.4375,NaN,C
27,1132,1,1,"Lindstrom, Mrs. Carl Johan (Sigrid Posse)",female,55.00,0,0,112377,27.7208,NaN,C
28,1010,0,1,"Beattie, Mr. Thomson",male,36.00,0,0,13050,75.2417,C6,C
29,1023,0,1,"Gracie, Col. Archibald IV",male,53.00,0,0,113780,28.5000,C51,C
30,1025,0,3,"Thomas, Mr. Charles P",male,NaN,1,0,2621,6.4375,NaN,C
31,1028,0,3,"Zakarian, Mr. Mapriededer",male,26.50,0,0,2656,7.2250,NaN,C
32,1034,0,1,"Ryerson, Mr. Arthur Larned",male,61.00,1,3,PC 17608,262.3750,B57 B59 B63 B66,C
33,1042,1,1,"Earnshaw, Mrs. Boulton (Olive Potter)",female,23.00,0,1,11767,83.1583,C54,C
34,1043,0,3,"Matinoff, Mr. Nicola",male,NaN,0,0,349255,7.8958,NaN,C
35,1053,0,3,"Touma, Master. Georges Youssef",male,7.00,1,1,2650,15.2458,NaN,C
36,1014,1,1,"Schabert, Mrs. Paul (Emma Mock)",female,35.00,1,0,13236,57.7500,C28,C
37,1134,0,1,"Spedden, Mr. Frederic Oakley",male,45.00,1,1,16966,134.5000,E34,C
38,1141,1,3,"Khalil, Mrs. Betros (Zahie Maria"" Elias)""",female,NaN,1,0,2660,14.4542,NaN,C
39,1144,0,1,"Clark, Mr. Walter Miller",male,27.00,1,0,13508,136.7792,C89,C
40,1235,1,1,"Cardeza, Mrs. James Warburton Martinez (Charlo...",female,58.00,0,1,PC 17755,512.3292,B51 B53 B55,C
41,1239,1,3,"Whabee, Mrs. George Joseph (Shawneene Abi-Saab)",female,38.00,0,0,2688,7.2292,NaN,C
42,1242,1,1,"Greenfield, Mrs. Leo David (Blanche Strouse)",female,45.00,0,1,PC 17759,63.3583,D10 D12,C
43,1253,1,2,"Mallet, Mrs. Albert (Antoinette Magnin)",female,24.00,1,1,S.C./PARIS 2079,37.0042,NaN,C
44,1256,1,1,"Harder, Mrs. George Achilles (Dorothy Annan)",female,25.00,1,0,11765,55.4417,E50,C
45,1258,0,3,"Caram, Mr. Joseph",male,NaN,1,0,2689,14.4583,NaN,C
46,1260,1,1,"Gibson, Mrs. Leonard (Pauline C Boeson)",female,45.00,0,1,112378,59.4000,NaN,C
47,1231,0,3,"Betros, Master. Seman",male,NaN,0,0,2622,7.2292,NaN,C
48,1261,0,2,"Pallas y Castello, Mr. Emilio",male,29.00,0,0,SC/PARIS 2147,13.8583,NaN,C
49,1267,1,1,"Bowen, Miss. Grace Scott",female,45.00,0,0,PC 17608,262.3750,NaN,C
50,1289,1,1,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",female,48.00,1,1,13567,79.2000,B41,C
51,1294,1,1,"Gibson, Miss. Dorothy Winifred",female,22.00,0,1,112378,59.4000,NaN,C
52,1296,0,1,"Frauenthal, Mr. Isaac Gerald",male,43.00,1,0,17765,27.7208,D40,C
53,1297,0,2,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",male,20.00,0,0,SC/PARIS 2166,13.8625,D38,C
54,1299,0,1,"Widener, Mr. George Dunton",male,50.00,1,1,113503,211.5000,C80,C
55,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.00,0,0,PC 17758,108.9000,C105,C
56,1263,1,1,"Wilson, Miss. Helen Alice",female,31.00,0,0,16966,134.5000,E39 E41,C
57,977,0,3,"Khalil, Mr. Betros",male,NaN,1,0,2660,14.4542,NaN,C
58,1229,0,3,"Elias, Mr. Joseph",male,39.00,0,2,2675,7.2292,NaN,C
59,1224,0,3,"Thomas, Mr. Tannous",male,NaN,0,0,2684,7.2250,NaN,C
60,1156,0,2,"Portaluppi, Mr. Emilio Ilario Giuseppe",male,30.00,0,0,C.A. 34644,12.7375,NaN,C
61,1162,0,1,"McCaffry, Mr. Thomas Francis",male,46.00,0,0,13050,75.2417,C6,C
62,1164,1,1,"Clark, Mrs. Walter Miller (Virginia McDowell)",female,26.00,1,0,13508,136.7792,C89,C
63,1166,0,3,"Saade, Mr. Jean Nassr",male,NaN,0,0,2676,7.2250,NaN,C
64,1175,1,3,"Touma, Miss. Maria Youssef",female,9.00,1,1,2650,15.2458,NaN,C
65,1180,0,3,"Mardirosian, Mr. Sarkis",male,NaN,0,0,2655,7.2292,F E46,C
66,1184,0,3,"Nasr, Mr. Mustafa",male,NaN,0,0,2652,7.2292,NaN,C
67,1225,1,3,"Nakid, Mrs. Said (Waika Mary"" Mowad)""",female,19.00,1,1,2653,15.7417,NaN,C
68,1188,1,2,"Laroche, Miss. Louise",female,1.00,1,2,SC/Paris 2123,41.5792,NaN,C
69,1193,0,2,"Malachard, Mr. Noel",male,NaN,0,0,237735,15.0458,D,C
70,1203,0,3,"Vartanian, Mr. David",male,22.00,0,0,2658,7.2250,NaN,C
71,1206,1,1,"White, Mrs. John Stuart (Ella Holmes)",female,55.00,0,0,PC 17760,135.6333,C32,C
72,1208,0,1,"Spencer, Mr. William Augustus",male,57.00,1,0,PC 17569,146.5208,B78,C
73,1213,0,3,"Krekorian, Mr. Neshan",male,25.00,0,0,2654,7.2292,F E57,C
74,1219,0,1,"Rosenshine, Mr. George (Mr George Thorne"")""",male,46.00,0,0,PC 17585,79.2000,NaN,C
75,1223,0,1,"Dulles, Mr. William Crothers",male,39.00,0,0,PC 17580,29.7000,A18,C
76,1189,0,3,"Samaan, Mr. Hanna",male,NaN,2,0,2662,21.6792,NaN,C
77,972,0,3,"Boulos, Master. Akar",male,6.00,1,1,2678,15.2458,NaN,C
78,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C
79,919,0,3,"Daher, Mr. Shedid",male,22.50,0,0,2698,7.2250,NaN,C
80,916,1,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",female,48.00,1,3,PC 17608,262.3750,B57 B59 B63 B66,C
81,966,1,1,"Geiger, Miss. Amalie",female,35.00,0,0,113503,211.5000,C130,C
82,918,1,1,"Ostby, Miss. Helene Ragnhild",female,22.00,0,1,113509,61.9792,B36,C
83,965,0,1,"Ovies y Rodriguez, Mr. Servando",male,28.50,0,0,PC 17562,27.7208,D43,C
84,921,0,3,"Samaan, Mr. Elias",male,NaN,2,0,2662,21.6792,NaN,C
85,926,0,1,"Mock, Mr. Philipp Edmund",male,30.00,1,0,13236,57.7500,C78,C
86,915,0,1,"Williams, Mr. Richard Norris II",male,21.00,0,1,PC 17597,61.3792,NaN,C
87,927,0,3,"Katavelas, Mr. Vassilios (Catavelas Vassilios"")""",male,18.50,0,0,2682,7.2292,NaN,C
88,960,0,1,"Tucker, Mr. Gilbert Milligan Jr",male,31.00,0,0,2543,28.5375,C53,C
89,938,0,1,"Chevre, Mr. Paul Romaine",male,45.00,0,0,PC 17594,29.7000,A9,C
90,940,1,1,"Bucknell, Mrs. William Robert (Emma Eliza Ward)",female,60.00,0,0,11813,76.2917,D15,C
91,943,0,2,"Pulbaum, Mr. Franz",male,27.00,0,0,SC/PARIS 2168,15.0333,NaN,C
92,946,0,2,"Mangiavacchi, Mr. Serafino Emilio",male,NaN,0,0,SC/A.3 2861,15.5792,NaN,C
93,951,1,1,"Chaudanson, Miss. Victorine",female,36.00,0,0,PC 17608,262.3750,B61,C
94,932,0,3,"Karun, Mr. Franz",male,39.00,0,1,349256,13.4167,NaN,C
95,912,0,1,"Rothschild, Mr. Martin",male,55.00,1,0,PC 17603,59.4000,NaN,C
96,956,0,1,"Ryerson, Master. John Borie",male,13.00,2,2,PC 17608,262.3750,B57 B59 B63 B66,C
97,909,0,3,"Assaf, Mr. Gerios",male,21.00,0,0,2692,7.2250,NaN,C
98,967,0,1,"Keeping, Mr. Edwin",male,32.50,0,0,113503,211.5000,C132,C
99,907,1,2,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",female,24.00,1,0,SC/PARIS 2167,27.7208,NaN,C
100,900,1,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.00,0,0,2657,7.2292,NaN,C
101,911,1,3,"Assaf Khalil, Mrs. Mariana (Miriam"")""",female,45.00,0,0,2696,7.2250,NaN,C
102,898,1,3,"Connolly, Miss. Kate",female,30.00,0,0,330972,7.6292,NaN,Q
103,1291,0,3,"Conlon, Mr. Thomas Henry",male,31.00,0,0,21332,7.7333,NaN,Q
104,939,0,3,"Shaughnessy, Mr. Patrick",male,NaN,0,0,370374,7.7500,NaN,Q
105,894,0,2,"Myles, Mr. Thomas Francis",male,62.00,0,0,240276,9.6875,NaN,Q
106,1108,1,3,"Mahon, Miss. Bridget Delia",female,NaN,0,0,330924,7.8792,NaN,Q
107,1098,1,3,"McGowan, Miss. Katherine",female,35.00,0,0,9232,7.7500,NaN,Q
108,1085,0,2,"Lingane, Mr. John",male,61.00,0,0,235509,12.3500,NaN,Q
109,1300,1,3,"Riordan, Miss. Johanna Hannah""""",female,NaN,0,0,334915,7.7208,NaN,Q
110,1075,0,3,"Lane, Mr. Patrick",male,NaN,0,0,7935,7.7500,NaN,Q
111,1302,1,3,"Naughton, Miss. Hannah",female,NaN,0,0,365237,7.7500,NaN,Q
112,947,0,3,"Rice, Master. Albert",male,10.00,4,1,382652,29.1250,NaN,Q
113,1303,1,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,37.00,1,0,19928,90.0000,C78,Q
114,1052,1,3,"Smyth, Miss. Julia",female,NaN,0,0,335432,7.7333,NaN,Q
115,1092,1,3,"Murphy, Miss. Nora",female,NaN,0,0,36568,15.5000,NaN,Q
116,1119,1,3,"McNeill, Miss. Bridget",female,NaN,0,0,370368,7.7500,NaN,Q
117,1288,0,3,"Colbert, Mr. Patrick",male,24.00,0,0,371109,7.2500,NaN,Q
118,1148,0,3,"Mahon, Mr. John",male,NaN,0,0,AQ/4 3130,7.7500,NaN,Q
119,1280,0,3,"Canavan, Mr. Patrick",male,21.00,0,0,364858,7.7500,NaN,Q
120,1163,0,3,"Fox, Mr. Patrick",male,NaN,0,0,368573,7.7500,NaN,Q
121,1273,0,3,"Foley, Mr. Joseph",male,26.00,0,0,330910,7.8792,NaN,Q
122,1165,1,3,"Lennon, Miss. Mary",female,NaN,1,0,370371,15.5000,NaN,Q
123,1174,1,3,"Fleming, Miss. Honora",female,NaN,0,0,364859,7.7500,NaN,Q
124,1183,1,3,"Daly, Miss. Margaret Marcella Maggie""""",female,30.00,0,0,382650,6.9500,NaN,Q
125,1272,0,3,"O'Connor, Mr. Patrick",male,NaN,0,0,366713,7.7500,NaN,Q
126,955,1,3,"Bradley, Miss. Bridget Delia",female,22.00,0,0,334914,7.7250,NaN,Q
127,1196,1,3,"McCarthy, Miss. Catherine Katie""""",female,NaN,0,0,383123,7.7500,NaN,Q
128,1250,0,3,"O'Keefe, Mr. Patrick",male,NaN,0,0,368402,7.7500,NaN,Q
129,1205,1,3,"Carr, Miss. Jeannie",female,37.00,0,0,368364,7.7500,NaN,Q
130,1207,1,3,"Hagardon, Miss. Kate",female,17.00,0,0,AQ/3. 30631,7.7333,NaN,Q
131,908,0,2,"Keane, Mr. Daniel",male,35.00,0,0,233734,12.3500,NaN,Q
132,1125,0,3,"Linehan, Mr. Michael",male,NaN,0,0,330971,7.8792,NaN,Q
133,971,1,3,"Doyle, Miss. Elizabeth",female,24.00,0,0,368702,7.7500,NaN,Q
134,892,0,3,"Kelly, Mr. James",male,34.50,0,0,330911,7.8292,NaN,Q
135,980,1,3,"O'Donoghue, Ms. Bridget",female,NaN,0,0,364856,7.7500,NaN,Q
136,1019,1,3,"McCoy, Miss. Alicia",female,NaN,2,0,367226,23.2500,NaN,Q
137,958,1,3,"Burns, Miss. Mary Delia",female,18.00,0,0,330963,7.8792,NaN,Q
138,998,0,3,"Buckley, Mr. Daniel",male,21.00,0,0,330920,7.8208,NaN,Q
139,978,1,3,"Barry, Miss. Julia",female,27.00,0,0,330844,7.8792,NaN,Q
140,994,0,3,"Foley, Mr. William",male,NaN,0,0,365235,7.7500,NaN,Q
141,999,0,3,"Ryan, Mr. Edward",male,NaN,0,0,383162,7.7500,NaN,Q
142,976,0,2,"Lamb, Mr. John Joseph",male,NaN,0,0,240261,10.7083,NaN,Q
143,1013,0,3,"Kiernan, Mr. John",male,NaN,1,0,367227,7.7500,NaN,Q
144,962,1,3,"Mulvihill, Miss. Bertha E",female,24.00,0,0,382653,7.7500,NaN,Q
145,1005,1,3,"Buckley, Miss. Katherine",female,18.50,0,0,329944,7.2833,NaN,Q
146,1003,1,3,"Shine, Miss. Ellen Natalia",female,NaN,0,0,330968,7.7792,NaN,Q
147,1016,0,3,"Kennedy, Mr. John",male,NaN,0,0,368783,7.7500,NaN,Q
148,910,1,3,"Ilmakangas, Miss. Ida Livija",female,27.00,1,0,STON/O2. 3101270,7.9250,NaN,S
149,991,0,3,"Nancarrow, Mr. William Henry",male,33.00,0,0,A./5. 3338,8.0500,NaN,S
150,1209,0,2,"Rogers, Mr. Reginald Harry",male,19.00,0,0,28004,10.5000,NaN,S
151,1210,0,3,"Jonsson, Mr. Nils Hilding",male,27.00,0,0,350408,7.8542,NaN,S
152,1211,0,2,"Jefferys, Mr. Ernest Wilfred",male,22.00,2,0,C.A. 31029,31.5000,NaN,S
153,1212,0,3,"Andersson, Mr. Johan Samuel",male,26.00,0,0,347075,7.7750,NaN,S
154,990,1,3,"Braf, Miss. Elin Ester Maria",female,20.00,0,0,347471,7.8542,NaN,S
155,1234,0,3,"Sage, Mr. John George",male,NaN,1,9,CA. 2343,69.5500,NaN,S
156,1214,0,2,"Nesson, Mr. Israel",male,26.00,0,0,244368,13.0000,F2,S
157,1215,0,1,"Rowe, Mr. Alfred G",male,33.00,0,0,113790,26.5500,NaN,S
158,1216,1,1,"Kreuchen, Miss. Emilie",female,39.00,0,0,24160,211.3375,NaN,S
159,1217,0,3,"Assam, Mr. Ali",male,23.00,0,0,SOTON/O.Q. 3101309,7.0500,NaN,S
160,1218,1,2,"Becker, Miss. Ruth Elizabeth",female,12.00,2,1,230136,39.0000,F4,S
161,1232,0,2,"Fillbrook, Mr. Joseph Charles",male,18.00,0,0,C.A. 15185,10.5000,NaN,S
162,914,1,1,"Flegenheim, Mrs. Alfred (Antoinette)",female,NaN,0,0,PC 17598,31.6833,NaN,S
163,1220,0,2,"Clarke, Mr. Charles Valentine",male,29.00,1,0,2003,26.0000,NaN,S
164,1221,0,2,"Enander, Mr. Ingvar",male,21.00,0,0,236854,13.0000,NaN,S
165,987,0,3,"Tenglin, Mr. Gunnar Isidor",male,25.00,0,0,350033,7.7958,NaN,S
166,1230,0,2,"Denbury, Mr. Herbert",male,25.00,0,0,C.A. 31029,31.5000,NaN,S
167,913,0,3,"Olsen, Master. Artur Karl",male,9.00,0,1,C 17368,3.1708,NaN,S
168,989,0,3,"Makinen, Mr. Kalle Edvard",male,29.00,0,0,STON/O 2. 3101268,7.9250,NaN,S
169,988,1,1,"Cavendish, Mrs. Tyrell William (Julia Florence...",female,76.00,1,0,19877,78.8500,C46,S
170,1226,0,3,"Cor, Mr. Ivan",male,27.00,0,0,349229,7.8958,NaN,S
171,1227,0,1,"Maguire, Mr. John Edward",male,30.00,0,0,110469,26.0000,C106,S
172,1228,0,2,"de Brito, Mr. Jose Joaquim",male,32.00,0,0,244360,13.0000,NaN,S
173,1233,0,3,"Lundstrom, Mr. Thure Edvin",male,32.00,0,0,350403,7.5792,NaN,S
174,1222,1,2,"Davies, Mrs. John Morgan (Elizabeth Agnes Mary...",female,48.00,0,2,C.A. 33112,36.7500,NaN,S
175,1027,0,3,"Carlsson, Mr. Carl Robert",male,24.00,0,0,350409,7.8542,NaN,S
176,917,0,3,"Robins, Mr. Alexander A",male,50.00,1,0,A/5. 3337,14.5000,NaN,S
177,1001,0,2,"Swane, Mr. George",male,18.50,0,0,248734,13.0000,F,S
178,924,1,3,"Dean, Mrs. Bertram (Eva Georgetta Light)",female,33.00,1,2,C.A. 2315,20.5750,NaN,S
179,1176,1,3,"Rosblom, Miss. Salli Helena",female,2.00,1,1,370129,20.2125,NaN,S
180,1177,0,3,"Dennis, Mr. William",male,36.00,0,0,A/5 21175,7.2500,NaN,S
181,1178,0,3,"Franklin, Mr. Charles (Charles Fardon)",male,NaN,0,0,SOTON/O.Q. 3101314,7.2500,NaN,S
182,1179,0,1,"Snyder, Mr. John Pillsbury",male,24.00,1,0,21228,82.2667,B45,S
183,923,0,2,"Jefferys, Mr. Clifford Thomas",male,24.00,2,0,C.A. 31029,31.5000,NaN,S
184,1181,0,3,"Ford, Mr. Arthur",male,NaN,0,0,A/5 1478,8.0500,NaN,S
185,1182,0,1,"Rheims, Mr. George Alexander Lucien",male,NaN,0,0,PC 17607,39.6000,NaN,S
186,1000,0,3,"Willer, Mr. Aaron (Abi Weller"")""",male,NaN,0,0,3410,8.7125,NaN,S
187,922,0,2,"Louch, Mr. Charles Alexander",male,50.00,1,0,SC/AH 3085,26.0000,NaN,S
188,1185,0,1,"Dodge, Dr. Washington",male,53.00,1,1,33638,81.8583,A34,S
189,1186,0,3,"Wittevrongel, Mr. Camille",male,36.00,0,0,345771,9.5000,NaN,S
190,1187,0,3,"Angheloff, Mr. Minko",male,26.00,0,0,349202,7.8958,NaN,S
191,993,0,2,"Weisz, Mr. Leopold",male,27.00,1,0,228414,26.0000,NaN,S
192,920,0,1,"Brady, Mr. John Bertram",male,41.00,0,0,113054,30.5000,A21,S
193,1191,0,3,"Johansson, Mr. Nils",male,29.00,0,0,347467,7.8542,NaN,S
194,1192,0,3,"Olsson, Mr. Oscar Wilhelm",male,32.00,0,0,347079,7.7750,NaN,S
195,1194,0,2,"Phillips, Mr. Escott Robert",male,43.00,0,1,S.O./P.P. 2,21.0000,NaN,S
196,1195,0,3,"Pokrnic, Mr. Tome",male,24.00,0,0,315092,8.6625,NaN,S
197,997,0,3,"Holthen, Mr. Johan Martin",male,28.00,0,0,C 4001,22.5250,NaN,S
198,1197,1,1,"Crosby, Mrs. Edward Gifford (Catherine Elizabe...",female,64.00,1,1,112901,26.5500,B26,S
199,1198,0,1,"Allison, Mr. Hudson Joshua Creighton",male,30.00,1,2,113781,151.5500,C22 C26,S
200,1199,0,3,"Aks, Master. Philip Frank",male,0.83,0,1,392091,9.3500,NaN,S
201,1200,0,1,"Hays, Mr. Charles Melville",male,55.00,1,1,12749,93.5000,B69,S
202,1201,1,3,"Hansen, Mrs. Claus Peter (Jennie L Howard)",female,45.00,1,0,350026,14.1083,NaN,S
203,1202,0,3,"Cacic, Mr. Jego Grga",male,18.00,0,0,315091,8.6625,NaN,S
204,995,0,3,"Johansson Palmquist, Mr. Oskar Leander",male,26.00,0,0,347070,7.7750,NaN,S
205,985,0,3,"Guest, Mr. Robert",male,NaN,0,0,376563,8.0500,NaN,S
206,1204,0,3,"Sadowitz, Mr. Harry",male,NaN,0,0,LP 1588,7.5750,NaN,S
207,1190,0,1,"Loring, Mr. Joseph Holland",male,30.00,0,0,113801,45.5000,NaN,S
208,1236,0,3,"van Billiard, Master. James William",male,NaN,1,1,A/5. 851,14.5000,NaN,S
209,1240,0,2,"Giles, Mr. Ralph",male,24.00,0,0,248726,13.5000,NaN,S
210,1238,0,2,"Botsford, Mr. William Hull",male,26.00,0,0,237670,13.0000,NaN,S
211,1275,1,3,"McNamee, Mrs. Neal (Eileen O'Leary)",female,19.00,1,0,376566,16.1000,NaN,S
212,1276,0,2,"Wheeler, Mr. Edwin Frederick""""",male,NaN,0,0,SC/PARIS 2159,12.8750,NaN,S
213,1277,1,2,"Herman, Miss. Kate",female,24.00,1,2,220845,65.0000,NaN,S
214,1278,0,3,"Aronsson, Mr. Ernst Axel Algot",male,24.00,0,0,349911,7.7750,NaN,S
215,1279,0,2,"Ashby, Mr. John",male,57.00,0,0,244346,13.0000,NaN,S
216,979,1,3,"Badman, Miss. Emily Louisa",female,18.00,0,0,A/4 31416,8.0500,NaN,S
217,1281,0,3,"Palsson, Master. Paul Folke",male,6.00,3,1,349909,21.0750,NaN,S
218,1282,0,1,"Payne, Mr. Vivian Ponsonby",male,23.00,0,0,12749,93.5000,B24,S
219,1283,1,1,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",female,51.00,0,1,PC 17592,39.4000,D28,S
220,1284,0,3,"Abbott, Master. Eugene Joseph",male,13.00,0,2,C.A. 2673,20.2500,NaN,S
221,1285,0,2,"Gilbert, Mr. William",male,47.00,0,0,C.A. 30769,10.5000,NaN,S
222,1286,0,3,"Kink-Heilmann, Mr. Anton",male,29.00,3,1,315153,22.0250,NaN,S
223,1287,1,1,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",female,18.00,1,0,13695,60.0000,C31,S
224,968,0,3,"Miles, Mr. Frank",male,NaN,0,0,359306,8.0500,NaN,S
225,1290,0,3,"Larsson-Rondberg, Mr. Edvard A",male,22.00,0,0,347065,7.7750,NaN,S
226,1292,1,1,"Bonnell, Miss. Caroline",female,30.00,0,0,36928,164.8667,C7,S
227,1293,0,2,"Gale, Mr. Harry",male,38.00,1,0,28664,21.0000,NaN,S
228,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.50,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
229,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.00,1,0,363272,7.0000,NaN,S
230,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
231,1304,1,3,"Henriksson, Miss. Jenny Lovisa",female,28.00,0,0,347086,7.7750,NaN,S
232,969,1,1,"Cornell, Mrs. Robert Clifford (Malvina Helen L...",female,55.00,2,0,11770,25.7000,C101,S
233,973,0,1,"Straus, Mr. Isidor",male,67.00,1,0,PC 17483,221.7792,C55 C57,S
234,1274,1,3,"Risien, Mrs. Samuel (Emma)",female,NaN,0,0,364498,14.5000,NaN,S
235,1301,1,3,"Peacock, Miss. Treasteall",female,3.00,1,1,SOTON/O.Q. 3101315,13.7750,NaN,S
236,975,0,3,"Demetri, Mr. Marinko",male,NaN,0,0,349238,7.8958,NaN,S
237,1298,0,2,"Ware, Mr. William Jeffery",male,23.00,1,0,28666,10.5000,NaN,S
238,895,0,3,"Wirz, Mr. Albert",male,27.00,0,0,315154,8.6625,NaN,S
239,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.00,1,1,3101298,12.2875,NaN,S
240,1295,0,1,"Carrau, Mr. Jose Pedro",male,17.00,0,0,113059,47.1000,NaN,S
241,897,0,3,"Svensson, Mr. Johan Cervin",male,14.00,0,0,7538,9.2250,NaN,S
242,974,0,1,"Case, Mr. Howard Brown",male,49.00,0,0,19924,26.0000,NaN,S
243,1237,1,3,"Abelseth, Miss. Karen Marie",female,16.00,0,0,348125,7.6500,NaN,S
244,981,0,2,"Wells, Master. Ralph Lester",male,2.00,1,1,29103,23.0000,NaN,S
245,1270,0,1,"Hipkins, Mr. William Edward",male,55.00,0,0,680,50.0000,C39,S
246,984,1,1,"Davidson, Mrs. Thornton (Orian Hays)",female,27.00,1,2,F.C. 12750,52.0000,B71,S
247,1173,0,3,"Peacock, Master. Alfred Edward",male,0.75,1,1,SOTON/O.Q. 3101315,13.7750,NaN,S
248,1241,1,2,"Walcroft, Miss. Nellie",female,31.00,0,0,F.C.C. 13528,21.0000,NaN,S
249,906,1,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",female,47.00,1,0,W.E.P. 5734,61.1750,E31,S

In [183]:
#data extraction colmun wise for name and the Embarked
a=data[['Name','Embarked']]
a

                                                  Name Embarked
208                      Rosenbaum, Miss. Edith Louise        C
177                    Stengel, Mr. Charles Emil Henry        C
179  Compton, Mrs. Alexander Taylor (Mary Eliza Ing...        C
181                   Compton, Mr. Alexander Taylor Jr        C
184  Douglas, Mrs. Frederick Charles (Mary Helene B...        C
196                    Spedden, Master. Robert Douglas        C
202                             Astor, Col. John Jacob        C
205                          Omont, Mr. Alfred Fernand        C
218       Widener, Mrs. George Dunton (Eleanor Elkins)        C
220                     Duran y More, Miss. Florentina        C
224   Candee, Mrs. Edward (Helen Churchill Hungerford)        C
225   Moubarek, Mrs. George (Omine Amenia" Alexander)"        C
234                          Cumings, Mr. John Bradley        C
236                           Warren, Mr. Frank Manley        C
237                                Baccos, Mr. Raffull        C
239        Douglas, Mrs. Walter Donald (Mahala Dutton)        C
173                                   Torfa, Mr. Assad        C
171                                Zakarian, Mr. Ortin        C
168  Cassebeer, Mrs. Henry Arthur Jr (Eleanor Genev...        C
166                                 Brandeis, Mr. Emil        C
94                                 Birnbaum, Mr. Jakob        C
100  Stengel, Mrs. Charles Emil Henry (Annie May Mo...        C
104          Thomas, Mrs. Alexander (Thamine Thelma")"        C
110                           Stanton, Mr. Samuel Ward        C
112                           Evans, Miss. Edith Corse        C
115                        Chronopoulos, Mr. Demetrios        C
116                                   Thomas, Mr. John        C
240          Lindstrom, Mrs. Carl Johan (Sigrid Posse)        C
118                               Beattie, Mr. Thomson        C
131                          Gracie, Col. Archibald IV        C
133                              Thomas, Mr. Charles P        C
136                          Zakarian, Mr. Mapriededer        C
142                         Ryerson, Mr. Arthur Larned        C
150              Earnshaw, Mrs. Boulton (Olive Potter)        C
151                               Matinoff, Mr. Nicola        C
161                     Touma, Master. Georges Youssef        C
122                    Schabert, Mrs. Paul (Emma Mock)        C
242                       Spedden, Mr. Frederic Oakley        C
249          Khalil, Mrs. Betros (Zahie Maria" Elias)"        C
252                           Clark, Mr. Walter Miller        C
343  Cardeza, Mrs. James Warburton Martinez (Charlo...        C
347    Whabee, Mrs. George Joseph (Shawneene Abi-Saab)        C
350       Greenfield, Mrs. Leo David (Blanche Strouse)        C
361            Mallet, Mrs. Albert (Antoinette Magnin)        C
364       Harder, Mrs. George Achilles (Dorothy Annan)        C
366                                  Caram, Mr. Joseph        C
368            Gibson, Mrs. Leonard (Pauline C Boeson)        C
339                              Betros, Master. Seman        C
369                      Pallas y Castello, Mr. Emilio        C
375                           Bowen, Miss. Grace Scott        C
397  Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...        C
402                     Gibson, Miss. Dorothy Winifred        C
404                       Frauenthal, Mr. Isaac Gerald        C
405       Nourney, Mr. Alfred (Baron von Drachstedt")"        C
407                         Widener, Mr. George Dunton        C
414                       Oliva y Ocana, Dona. Fermina        C
371                          Wilson, Miss. Helen Alice        C
85                                  Khalil, Mr. Betros        C
337                                  Elias, Mr. Joseph        C
332                                Thomas, Mr. Tannous        C
264             Portaluppi, Mr. Emilio Ilario Giuseppe        C
270                       McCaffry, Mr. Thomas Francis        C
272      Clark, Mrs. Walter Miller (Virginia McDowell)        C
274                              Saade, Mr. Jean Nassr        C
283                         Touma, Miss. Maria Youssef        C
288                            Mardirosian, Mr. Sarkis        C
292                                  Nasr, Mr. Mustafa        C
333              Nakid, Mrs. Said (Waika Mary" Mowad)"        C
296                              Laroche, Miss. Louise        C
301                                Malachard, Mr. Noel        C
311                               Vartanian, Mr. David        C
314              White, Mrs. John Stuart (Ella Holmes)        C
316                      Spencer, Mr. William Augustus        C
321                              Krekorian, Mr. Neshan        C
327        Rosenshine, Mr. George (Mr George Thorne")"        C
331                       Dulles, Mr. William Crothers        C
297                                  Samaan, Mr. Hanna        C
80                                Boulos, Master. Akar        C
417                           Peter, Master. Michael J        C
27                                   Daher, Mr. Shedid        C
24     Ryerson, Mrs. Arthur Larned (Emily Maria Borie)        C
74                                Geiger, Miss. Amalie        C
26                        Ostby, Miss. Helene Ragnhild        C
73                     Ovies y Rodriguez, Mr. Servando        C
29                                   Samaan, Mr. Elias        C
34                            Mock, Mr. Philipp Edmund        C
23                     Williams, Mr. Richard Norris II        C
35    Katavelas, Mr. Vassilios (Catavelas Vassilios")"        C
68                     Tucker, Mr. Gilbert Milligan Jr        C
46                            Chevre, Mr. Paul Romaine        C
48     Bucknell, Mrs. William Robert (Emma Eliza Ward)        C
51                                  Pulbaum, Mr. Franz        C
54                   Mangiavacchi, Mr. Serafino Emilio        C
59                         Chaudanson, Miss. Victorine        C
40                                    Karun, Mr. Franz        C
20                              Rothschild, Mr. Martin        C
64                         Ryerson, Master. John Borie        C
17                                   Assaf, Mr. Gerios        C
75                                  Keeping, Mr. Edwin        C
15       del Carlo, Mrs. Sebastiano (Argenia Genovesi)        C
8            Abrahim, Mrs. Joseph (Sophie Halaut Easu)        C
19               Assaf Khalil, Mrs. Mariana (Miriam")"        C
6                                 Connolly, Miss. Kate        Q
399                           Conlon, Mr. Thomas Henry        Q
47                            Shaughnessy, Mr. Patrick        Q
2                            Myles, Mr. Thomas Francis        Q
216                         Mahon, Miss. Bridget Delia        Q
206                           McGowan, Miss. Katherine        Q
193                                  Lingane, Mr. John        Q
408                    Riordan, Miss. Johanna Hannah""        Q
183                                  Lane, Mr. Patrick        Q
410                             Naughton, Miss. Hannah        Q
55                                Rice, Master. Albert        Q
411    Minahan, Mrs. William Edward (Lillian E Thorpe)        Q
160                                 Smyth, Miss. Julia        Q
200                                 Murphy, Miss. Nora        Q
227                             McNeill, Miss. Bridget        Q
396                               Colbert, Mr. Patrick        Q
256                                    Mahon, Mr. John        Q
388                               Canavan, Mr. Patrick        Q
271                                   Fox, Mr. Patrick        Q
381                                  Foley, Mr. Joseph        Q
273                                 Lennon, Miss. Mary        Q
282                              Fleming, Miss. Honora        Q
291             Daly, Miss. Margaret Marcella Maggie""        Q
380                              O'Connor, Mr. Patrick        Q
63                        Bradley, Miss. Bridget Delia        Q
304                  McCarthy, Miss. Catherine Katie""        Q
358                               O'Keefe, Mr. Patrick        Q
313                                Carr, Miss. Jeannie        Q
315                               Hagardon, Miss. Kate        Q
16                                   Keane, Mr. Daniel        Q
233                               Linehan, Mr. Michael        Q
79                              Doyle, Miss. Elizabeth        Q
0                                     Kelly, Mr. James        Q
88                             O'Donoghue, Ms. Bridget        Q
127                                McCoy, Miss. Alicia        Q
66                             Burns, Miss. Mary Delia        Q
106                                Buckley, Mr. Daniel        Q
86                                  Barry, Miss. Julia        Q
102                                 Foley, Mr. William        Q
107                                   Ryan, Mr. Edward        Q
84                               Lamb, Mr. John Joseph        Q
121                                  Kiernan, Mr. John        Q
70                           Mulvihill, Miss. Bertha E        Q
113                           Buckley, Miss. Katherine        Q
111                         Shine, Miss. Ellen Natalia        Q
124                                  Kennedy, Mr. John        Q
18                        Ilmakangas, Miss. Ida Livija        S
99                        Nancarrow, Mr. William Henry        S
317                         Rogers, Mr. Reginald Harry        S
318                          Jonsson, Mr. Nils Hilding        S
319                       Jefferys, Mr. Ernest Wilfred        S
320                        Andersson, Mr. Johan Samuel        S
98                        Braf, Miss. Elin Ester Maria        S
342                              Sage, Mr. John George        S
322                                 Nesson, Mr. Israel        S
323                                 Rowe, Mr. Alfred G        S
324                             Kreuchen, Miss. Emilie        S
325                                     Assam, Mr. Ali        S
326                       Becker, Miss. Ruth Elizabeth        S
340                      Fillbrook, Mr. Joseph Charles        S
22                Flegenheim, Mrs. Alfred (Antoinette)        S
328                      Clarke, Mr. Charles Valentine        S
329                                Enander, Mr. Ingvar        S
95                          Tenglin, Mr. Gunnar Isidor        S
338                               Denbury, Mr. Herbert        S
21                           Olsen, Master. Artur Karl        S
97                           Makinen, Mr. Kalle Edvard        S
96   Cavendish, Mrs. Tyrell William (Julia Florence...        S
334                                      Cor, Mr. Ivan        S
335                           Maguire, Mr. John Edward        S
336                         de Brito, Mr. Jose Joaquim        S
341                         Lundstrom, Mr. Thure Edvin        S
330  Davies, Mrs. John Morgan (Elizabeth Agnes Mary...        S
135                          Carlsson, Mr. Carl Robert        S
25                             Robins, Mr. Alexander A        S
109                                  Swane, Mr. George        S
32            Dean, Mrs. Bertram (Eva Georgetta Light)        S
284                        Rosblom, Miss. Salli Helena        S
285                                Dennis, Mr. William        S
286             Franklin, Mr. Charles (Charles Fardon)        S
287                         Snyder, Mr. John Pillsbury        S
31                       Jefferys, Mr. Clifford Thomas        S
289                                   Ford, Mr. Arthur        S
290                Rheims, Mr. George Alexander Lucien        S
108                   Willer, Mr. Aaron (Abi Weller")"        S
30                        Louch, Mr. Charles Alexander        S
293                              Dodge, Dr. Washington        S
294                          Wittevrongel, Mr. Camille        S
295                               Angheloff, Mr. Minko        S
101                                 Weisz, Mr. Leopold        S
28                             Brady, Mr. John Bertram        S
299                                Johansson, Mr. Nils        S
300                          Olsson, Mr. Oscar Wilhelm        S
302                        Phillips, Mr. Escott Robert        S
303                                  Pokrnic, Mr. Tome        S
105                          Holthen, Mr. Johan Martin        S
305  Crosby, Mrs. Edward Gifford (Catherine Elizabe...        S
306               Allison, Mr. Hudson Joshua Creighton        S
307                          Aks, Master. Philip Frank        S
308                         Hays, Mr. Charles Melville        S
309         Hansen, Mrs. Claus Peter (Jennie L Howard)        S
310                               Cacic, Mr. Jego Grga        S
103             Johansson Palmquist, Mr. Oskar Leander        S
93                                   Guest, Mr. Robert        S
312                                Sadowitz, Mr. Harry        S
298                         Loring, Mr. Joseph Holland        S
344                van Billiard, Master. James William        S
348                                   Giles, Mr. Ralph        S
346                         Botsford, Mr. William Hull        S
383                McNamee, Mrs. Neal (Eileen O'Leary)        S
384                     Wheeler, Mr. Edwin Frederick""        S
385                                 Herman, Miss. Kate        S
386                     Aronsson, Mr. Ernst Axel Algot        S
387                                    Ashby, Mr. John        S
87                          Badman, Miss. Emily Louisa        S
389                        Palsson, Master. Paul Folke        S
390                         Payne, Mr. Vivian Ponsonby        S
391     Lines, Mrs. Ernest H (Elizabeth Lindsey James)        S
392                      Abbott, Master. Eugene Joseph        S
393                               Gilbert, Mr. William        S
394                           Kink-Heilmann, Mr. Anton        S
395     Smith, Mrs. Lucien Philip (Mary Eloise Hughes)        S
76                                    Miles, Mr. Frank        S
398                     Larsson-Rondberg, Mr. Edvard A        S
400                            Bonnell, Miss. Caroline        S
401                                    Gale, Mr. Harry        S
415                       Saether, Mr. Simon Sivertsen        S
1                     Wilkes, Mrs. James (Ellen Needs)        S
413                                 Spector, Mr. Woolf        S
412                     Henriksson, Miss. Jenny Lovisa        S
77   Cornell, Mrs. Robert Clifford (Malvina Helen L...        S
81                                  Straus, Mr. Isidor        S
382                         Risien, Mrs. Samuel (Emma)        S
409                          Peacock, Miss. Treasteall        S
83                                Demetri, Mr. Marinko        S
406                          Ware, Mr. William Jeffery        S
3                                     Wirz, Mr. Albert        S
4         Hirvonen, Mrs. Alexander (Helga E Lindqvist)        S
403                             Carrau, Mr. Jose Pedro        S
5                           Svensson, Mr. Johan Cervin        S
82                              Case, Mr. Howard Brown        S
345                        Abelseth, Miss. Karen Marie        S
89                         Wells, Master. Ralph Lester        S
378                        Hipkins, Mr. William Edward        S
92                Davidson, Mrs. Thornton (Orian Hays)        S
281                     Peacock, Master. Alfred Edward        S
349                             Walcroft, Miss. Nellie        S
14   Chaffee, Mrs. Herbert Fuller (Carrie Constance...        S
351                          Stokes, Mr. Philip Joseph        S
352                                Dibden, Mr. William        S
353                                 Herman, Mr. Samuel        S
354            Dean, Miss. Elizabeth Gladys Millvina""        S
355                           Julian, Mr. Henry Forbes        S
356     Brown, Mrs. John Murray (Caroline Lane Lamson)        S
357                                Lockyer, Mr. Edward        S
91                                  Pedersen, Mr. Olaf        S
359  Lindell, Mrs. Edvard Bengtsson (Elin Gerda Per...        S
360                        Sage, Master. William Henry        S
13                                Howard, Mr. Benjamin        S
362       Ware, Mrs. John James (Florence Louise Long)        S
363                                  Strilic, Mr. Ivan        S
377                       Cotterill, Mr. Henry Harry""        S
376                                  Kink, Miss. Maria        S
7                         Caldwell, Mr. Albert Francis        S
374              Dodge, Mrs. Washington (Ruth Vidaver)        S
373                             Harbeck, Mr. William H        S
372                            Ismay, Mr. Joseph Bruce        S
379                        Asplund, Master. Carl Edgar        S
90   Dyker, Mrs. Adolf Fredrik (Anna Elisabeth Judi...        S
9                              Davies, Mr. John Samuel        S
10                                    Ilieff, Mr. Ylio        S
367       Riihivouri, Miss. Susanna Juhantytar Sanni""        S
11                          Jones, Mr. Charles Cresson        S
365                     Sage, Mrs. John (Annie Bullen)        S
12       Snyder, Mrs. John Pillsbury (Nelle Stevenson)        S
370                                   Giles, Mr. Edgar        S
280                             Oreskovic, Miss. Jelka        S
276                       Parker, Mr. Clifford Richard        S
278                               Ware, Mr. John James        S
172                           Dyker, Mr. Adolf Fredrik        S
56                                     Cor, Mr. Bartol        S
174         Asplund, Mr. Carl Oscar Vilhelm Gustafsson        S
175                          Brown, Miss. Edith Eileen        S
176                               Sincock, Miss. Maude        S
129                               Petersen, Mr. Marius        S
178   Becker, Mrs. Allen Oliver (Nellie E Baumgardner)        S
128                               Bowenur, Mr. Solomon        S
180                          McCrie, Mr. James Matthew        S
53                          Fortune, Miss. Ethel Flora        S
182  Marvin, Mrs. Daniel Warner (Mary Graham Carmic...        S
52                       Hocking, Miss. Ellen Nellie""        S
185                          Maybery, Mr. Frank Hubert        S
186               Phillips, Miss. Alice Frances Louisa        S
57                       Abelseth, Mr. Olaus Jorgensen        S
187                                 Davies, Mr. Joseph        S
189                                    Veal, Mr. James        S
190                               Angle, Mr. William A        S
191                             Salomon, Mr. Abraham L        S
192                  van Billiard, Master. Walter John        S
126                           Brobeck, Mr. Karl Rudolf        S
194                      Drew, Master. Marshall Brines        S
195                  Karlsson, Mr. Julius Konrad Eugen        S
125                           Cribb, Miss. Laura Alice        S
197                        Nilsson, Miss. Berta Olivia        S
198                     Baimbrigge, Mr. Charles Robert        S
199            Rasmussen, Mrs. (Lena Jacobsen Solvang)        S
201            Danbom, Master. Gilbert Sigvard Emanuel        S
50                            Smith, Mr. Lucien Philip        S
203                         Quick, Miss. Winifred Vera        S

In [184]:
#data extraction row wise for 1st 10 rows using iloc it slices the data bases on the index like list slicing
c=a.iloc[0:102]
c.reset_index(inplace=True)
c

     index                                               Name Embarked
0      208                      Rosenbaum, Miss. Edith Louise        C
1      177                    Stengel, Mr. Charles Emil Henry        C
2      179  Compton, Mrs. Alexander Taylor (Mary Eliza Ing...        C
3      181                   Compton, Mr. Alexander Taylor Jr        C
4      184  Douglas, Mrs. Frederick Charles (Mary Helene B...        C
5      196                    Spedden, Master. Robert Douglas        C
6      202                             Astor, Col. John Jacob        C
7      205                          Omont, Mr. Alfred Fernand        C
8      218       Widener, Mrs. George Dunton (Eleanor Elkins)        C
9      220                     Duran y More, Miss. Florentina        C
10     224   Candee, Mrs. Edward (Helen Churchill Hungerford)        C
11     225   Moubarek, Mrs. George (Omine Amenia" Alexander)"        C
12     234                          Cumings, Mr. John Bradley        C
13     236                           Warren, Mr. Frank Manley        C
14     237                                Baccos, Mr. Raffull        C
15     239        Douglas, Mrs. Walter Donald (Mahala Dutton)        C
16     173                                   Torfa, Mr. Assad        C
17     171                                Zakarian, Mr. Ortin        C
18     168  Cassebeer, Mrs. Henry Arthur Jr (Eleanor Genev...        C
19     166                                 Brandeis, Mr. Emil        C
20      94                                Birnbaum, Mr. Jakob        C
21     100  Stengel, Mrs. Charles Emil Henry (Annie May Mo...        C
22     104          Thomas, Mrs. Alexander (Thamine Thelma")"        C
23     110                           Stanton, Mr. Samuel Ward        C
24     112                           Evans, Miss. Edith Corse        C
25     115                        Chronopoulos, Mr. Demetrios        C
26     116                                   Thomas, Mr. John        C
27     240          Lindstrom, Mrs. Carl Johan (Sigrid Posse)        C
28     118                               Beattie, Mr. Thomson        C
29     131                          Gracie, Col. Archibald IV        C
30     133                              Thomas, Mr. Charles P        C
31     136                          Zakarian, Mr. Mapriededer        C
32     142                         Ryerson, Mr. Arthur Larned        C
33     150              Earnshaw, Mrs. Boulton (Olive Potter)        C
34     151                               Matinoff, Mr. Nicola        C
35     161                     Touma, Master. Georges Youssef        C
36     122                    Schabert, Mrs. Paul (Emma Mock)        C
37     242                       Spedden, Mr. Frederic Oakley        C
38     249          Khalil, Mrs. Betros (Zahie Maria" Elias)"        C
39     252                           Clark, Mr. Walter Miller        C
40     343  Cardeza, Mrs. James Warburton Martinez (Charlo...        C
41     347    Whabee, Mrs. George Joseph (Shawneene Abi-Saab)        C
42     350       Greenfield, Mrs. Leo David (Blanche Strouse)        C
43     361            Mallet, Mrs. Albert (Antoinette Magnin)        C
44     364       Harder, Mrs. George Achilles (Dorothy Annan)        C
45     366                                  Caram, Mr. Joseph        C
46     368            Gibson, Mrs. Leonard (Pauline C Boeson)        C
47     339                              Betros, Master. Seman        C
48     369                      Pallas y Castello, Mr. Emilio        C
49     375                           Bowen, Miss. Grace Scott        C
50     397  Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...        C
51     402                     Gibson, Miss. Dorothy Winifred        C
52     404                       Frauenthal, Mr. Isaac Gerald        C
53     405       Nourney, Mr. Alfred (Baron von Drachstedt")"        C
54     407                         Widener, Mr. George Dunton        C
55     414                       Oliva y Ocana, Dona. Fermina        C
56     371                          Wilson, Miss. Helen Alice        C
57      85                                 Khalil, Mr. Betros        C
58     337                                  Elias, Mr. Joseph        C
59     332                                Thomas, Mr. Tannous        C
60     264             Portaluppi, Mr. Emilio Ilario Giuseppe        C
61     270                       McCaffry, Mr. Thomas Francis        C
62     272      Clark, Mrs. Walter Miller (Virginia McDowell)        C
63     274                              Saade, Mr. Jean Nassr        C
64     283                         Touma, Miss. Maria Youssef        C
65     288                            Mardirosian, Mr. Sarkis        C
66     292                                  Nasr, Mr. Mustafa        C
67     333              Nakid, Mrs. Said (Waika Mary" Mowad)"        C
68     296                              Laroche, Miss. Louise        C
69     301                                Malachard, Mr. Noel        C
70     311                               Vartanian, Mr. David        C
71     314              White, Mrs. John Stuart (Ella Holmes)        C
72     316                      Spencer, Mr. William Augustus        C
73     321                              Krekorian, Mr. Neshan        C
74     327        Rosenshine, Mr. George (Mr George Thorne")"        C
75     331                       Dulles, Mr. William Crothers        C
76     297                                  Samaan, Mr. Hanna        C
77      80                               Boulos, Master. Akar        C
78     417                           Peter, Master. Michael J        C
79      27                                  Daher, Mr. Shedid        C
80      24    Ryerson, Mrs. Arthur Larned (Emily Maria Borie)        C
81      74                               Geiger, Miss. Amalie        C
82      26                       Ostby, Miss. Helene Ragnhild        C
83      73                    Ovies y Rodriguez, Mr. Servando        C
84      29                                  Samaan, Mr. Elias        C
85      34                           Mock, Mr. Philipp Edmund        C
86      23                    Williams, Mr. Richard Norris II        C
87      35   Katavelas, Mr. Vassilios (Catavelas Vassilios")"        C
88      68                    Tucker, Mr. Gilbert Milligan Jr        C
89      46                           Chevre, Mr. Paul Romaine        C
90      48    Bucknell, Mrs. William Robert (Emma Eliza Ward)        C
91      51                                 Pulbaum, Mr. Franz        C
92      54                  Mangiavacchi, Mr. Serafino Emilio        C
93      59                        Chaudanson, Miss. Victorine        C
94      40                                   Karun, Mr. Franz        C
95      20                             Rothschild, Mr. Martin        C
96      64                        Ryerson, Master. John Borie        C
97      17                                  Assaf, Mr. Gerios        C
98      75                                 Keeping, Mr. Edwin        C
99      15      del Carlo, Mrs. Sebastiano (Argenia Genovesi)        C
100      8          Abrahim, Mrs. Joseph (Sophie Halaut Easu)        C
101     19              Assaf Khalil, Mrs. Mariana (Miriam")"        C

In [185]:
data['Survived'].value_counts()

Survived
0    266
1    152
Name: count, dtype: int64

In [186]:
survived=data[data['Survived']==1]
print(survived['Name'])

208                        Rosenbaum, Miss. Edith Louise
179    Compton, Mrs. Alexander Taylor (Mary Eliza Ing...
184    Douglas, Mrs. Frederick Charles (Mary Helene B...
218         Widener, Mrs. George Dunton (Eleanor Elkins)
220                       Duran y More, Miss. Florentina
224     Candee, Mrs. Edward (Helen Churchill Hungerford)
225     Moubarek, Mrs. George (Omine Amenia" Alexander)"
239          Douglas, Mrs. Walter Donald (Mahala Dutton)
168    Cassebeer, Mrs. Henry Arthur Jr (Eleanor Genev...
100    Stengel, Mrs. Charles Emil Henry (Annie May Mo...
104            Thomas, Mrs. Alexander (Thamine Thelma")"
112                             Evans, Miss. Edith Corse
240            Lindstrom, Mrs. Carl Johan (Sigrid Posse)
150                Earnshaw, Mrs. Boulton (Olive Potter)
122                      Schabert, Mrs. Paul (Emma Mock)
249            Khalil, Mrs. Betros (Zahie Maria" Elias)"
343    Cardeza, Mrs. James Warburton Martinez (Charlo...
347      Whabee, Mrs. George Joseph (Shawneene Abi-Saab)
350         Greenfield, Mrs. Leo David (Blanche Strouse)
361              Mallet, Mrs. Albert (Antoinette Magnin)
364         Harder, Mrs. George Achilles (Dorothy Annan)
368              Gibson, Mrs. Leonard (Pauline C Boeson)
375                             Bowen, Miss. Grace Scott
397    Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...
402                       Gibson, Miss. Dorothy Winifred
414                         Oliva y Ocana, Dona. Fermina
371                            Wilson, Miss. Helen Alice
272        Clark, Mrs. Walter Miller (Virginia McDowell)
283                           Touma, Miss. Maria Youssef
333                Nakid, Mrs. Said (Waika Mary" Mowad)"
296                                Laroche, Miss. Louise
314                White, Mrs. John Stuart (Ella Holmes)
24       Ryerson, Mrs. Arthur Larned (Emily Maria Borie)
74                                  Geiger, Miss. Amalie
26                          Ostby, Miss. Helene Ragnhild
48       Bucknell, Mrs. William Robert (Emma Eliza Ward)
59                           Chaudanson, Miss. Victorine
15         del Carlo, Mrs. Sebastiano (Argenia Genovesi)
8              Abrahim, Mrs. Joseph (Sophie Halaut Easu)
19                 Assaf Khalil, Mrs. Mariana (Miriam")"
6                                   Connolly, Miss. Kate
216                           Mahon, Miss. Bridget Delia
206                             McGowan, Miss. Katherine
408                      Riordan, Miss. Johanna Hannah""
410                               Naughton, Miss. Hannah
411      Minahan, Mrs. William Edward (Lillian E Thorpe)
160                                   Smyth, Miss. Julia
200                                   Murphy, Miss. Nora
227                               McNeill, Miss. Bridget
273                                   Lennon, Miss. Mary
282                                Fleming, Miss. Honora
291               Daly, Miss. Margaret Marcella Maggie""
63                          Bradley, Miss. Bridget Delia
304                    McCarthy, Miss. Catherine Katie""
313                                  Carr, Miss. Jeannie
315                                 Hagardon, Miss. Kate
79                                Doyle, Miss. Elizabeth
88                               O'Donoghue, Ms. Bridget
127                                  McCoy, Miss. Alicia
66                               Burns, Miss. Mary Delia
86                                    Barry, Miss. Julia
70                             Mulvihill, Miss. Bertha E
113                             Buckley, Miss. Katherine
111                           Shine, Miss. Ellen Natalia
18                          Ilmakangas, Miss. Ida Livija
98                          Braf, Miss. Elin Ester Maria
324                               Kreuchen, Miss. Emilie
326                         Becker, Miss. Ruth Elizabeth
22                  Flegenheim, Mrs. Alfred (Antoinette)
96     Cavendish, Mrs. Tyrell William (Julia Florence...
330    Davies, Mrs. John Morgan (Elizabeth Agnes Mary...
32              Dean, Mrs. Bertram (Eva Georgetta Light)
284                          Rosblom, Miss. Salli Helena
305    Crosby, Mrs. Edward Gifford (Catherine Elizabe...
309           Hansen, Mrs. Claus Peter (Jennie L Howard)
383                  McNamee, Mrs. Neal (Eileen O'Leary)
385                                   Herman, Miss. Kate
87                            Badman, Miss. Emily Louisa
391       Lines, Mrs. Ernest H (Elizabeth Lindsey James)
395       Smith, Mrs. Lucien Philip (Mary Eloise Hughes)
400                              Bonnell, Miss. Caroline
1                       Wilkes, Mrs. James (Ellen Needs)
412                       Henriksson, Miss. Jenny Lovisa
77     Cornell, Mrs. Robert Clifford (Malvina Helen L...
382                           Risien, Mrs. Samuel (Emma)
409                            Peacock, Miss. Treasteall
4           Hirvonen, Mrs. Alexander (Helga E Lindqvist)
345                          Abelseth, Miss. Karen Marie
92                  Davidson, Mrs. Thornton (Orian Hays)
349                               Walcroft, Miss. Nellie
14     Chaffee, Mrs. Herbert Fuller (Carrie Constance...
354              Dean, Miss. Elizabeth Gladys Millvina""
356       Brown, Mrs. John Murray (Caroline Lane Lamson)
359    Lindell, Mrs. Edvard Bengtsson (Elin Gerda Per...
362         Ware, Mrs. John James (Florence Louise Long)
376                                    Kink, Miss. Maria
374                Dodge, Mrs. Washington (Ruth Vidaver)
90     Dyker, Mrs. Adolf Fredrik (Anna Elisabeth Judi...
367         Riihivouri, Miss. Susanna Juhantytar Sanni""
365                       Sage, Mrs. John (Annie Bullen)
12         Snyder, Mrs. John Pillsbury (Nelle Stevenson)
280                               Oreskovic, Miss. Jelka
175                            Brown, Miss. Edith Eileen
176                                 Sincock, Miss. Maude
178     Becker, Mrs. Allen Oliver (Nellie E Baumgardner)
53                            Fortune, Miss. Ethel Flora
182    Marvin, Mrs. Daniel Warner (Mary Graham Carmic...
52                         Hocking, Miss. Ellen Nellie""
186                 Phillips, Miss. Alice Frances Louisa
125                             Cribb, Miss. Laura Alice
197                          Nilsson, Miss. Berta Olivia
199              Rasmussen, Mrs. (Lena Jacobsen Solvang)
203                           Quick, Miss. Winifred Vera
188                                      Sage, Miss. Ada
169                         Hellstrom, Miss. Hilda Maria
65     Corey, Mrs. Percy C (Mary Phyllis Elizabeth Mi...
138                                Drapkin, Miss. Jennie
140                          Goodwin, Miss. Jessie Allis
141                                 Daniels, Miss. Sarah
132                        Lefebre, Mrs. Frank (Frances)
165           Kink-Heilmann, Mrs. Anton (Luise Heilmann)
162                                 Wright, Miss. Marion
157                             Lundin, Miss. Olga Elida
156                                    Bird, Miss. Ellen
153       Klasen, Mrs. (Hulda Kristina Eugenia Lofqvist)
159                  Peacock, Mrs. Benjamin (Edith Nile)
49        Coutts, Mrs. William (Winnie Minnie" Treanor)"
246                Karnes, Mrs. J Frank (Claire Bennett)
250                                West, Miss. Barbara J
37                                    Cacic, Miss. Manda
114               Straus, Mrs. Isidor (Rosalie Ida Blun)
258                              Bentham, Miss. Lilian W
275                  Bryhl, Miss. Dagmar Jenny Ingeborg
33     Johnston, Mrs. Andrew G (Elizabeth Lily" Watson)"
72                        Nieminen, Miss. Manta Josefina
36                                   Roth, Miss. Sarah A
263                         Klasen, Miss. Gertrud Emilia
262    Wells, Mrs. Arthur Henry (Addie" Dart Trevaskis)"
268                          Howard, Miss. May Elizabeth
241                        Christy, Mrs. (Alice Frances)
213         Howard, Mrs. Benjamin (Ellen Truelove Arman)
214               Andersson, Miss. Ida Augusta Margareta
120                                 Watt, Miss. Bertha J
222                           Cook, Mrs. (Selena Rogers)
119      Chapman, Mrs. John Henry (Sara Elizabeth Lawry)
238                                Hiltunen, Miss. Marta
43                 Corbett, Mrs. Walter H (Irene Colvin)
44      Kimball, Mrs. Edwin Nelson Jr (Gertrude Parsons)
69                   Fortune, Mrs. Mark (Mary McDougald)
231                             Willard, Miss. Constance
117                      Sandstrom, Miss. Beatrice Irene
248             Hold, Mrs. Stephen (Annie Margaret Hill)
Name: Name, dtype: object

In [187]:
not_survived=data[data['Survived']==0]
print(not_survived['Name'])

177                      Stengel, Mr. Charles Emil Henry
181                     Compton, Mr. Alexander Taylor Jr
196                      Spedden, Master. Robert Douglas
202                               Astor, Col. John Jacob
205                            Omont, Mr. Alfred Fernand
234                            Cumings, Mr. John Bradley
236                             Warren, Mr. Frank Manley
237                                  Baccos, Mr. Raffull
173                                     Torfa, Mr. Assad
171                                  Zakarian, Mr. Ortin
166                                   Brandeis, Mr. Emil
94                                   Birnbaum, Mr. Jakob
110                             Stanton, Mr. Samuel Ward
115                          Chronopoulos, Mr. Demetrios
116                                     Thomas, Mr. John
118                                 Beattie, Mr. Thomson
131                            Gracie, Col. Archibald IV
133                                Thomas, Mr. Charles P
136                            Zakarian, Mr. Mapriededer
142                           Ryerson, Mr. Arthur Larned
151                                 Matinoff, Mr. Nicola
161                       Touma, Master. Georges Youssef
242                         Spedden, Mr. Frederic Oakley
252                             Clark, Mr. Walter Miller
366                                    Caram, Mr. Joseph
339                                Betros, Master. Seman
369                        Pallas y Castello, Mr. Emilio
404                         Frauenthal, Mr. Isaac Gerald
405         Nourney, Mr. Alfred (Baron von Drachstedt")"
407                           Widener, Mr. George Dunton
85                                    Khalil, Mr. Betros
337                                    Elias, Mr. Joseph
332                                  Thomas, Mr. Tannous
264               Portaluppi, Mr. Emilio Ilario Giuseppe
270                         McCaffry, Mr. Thomas Francis
274                                Saade, Mr. Jean Nassr
288                              Mardirosian, Mr. Sarkis
292                                    Nasr, Mr. Mustafa
301                                  Malachard, Mr. Noel
311                                 Vartanian, Mr. David
316                        Spencer, Mr. William Augustus
321                                Krekorian, Mr. Neshan
327          Rosenshine, Mr. George (Mr George Thorne")"
331                         Dulles, Mr. William Crothers
297                                    Samaan, Mr. Hanna
80                                  Boulos, Master. Akar
417                             Peter, Master. Michael J
27                                     Daher, Mr. Shedid
73                       Ovies y Rodriguez, Mr. Servando
29                                     Samaan, Mr. Elias
34                              Mock, Mr. Philipp Edmund
23                       Williams, Mr. Richard Norris II
35      Katavelas, Mr. Vassilios (Catavelas Vassilios")"
68                       Tucker, Mr. Gilbert Milligan Jr
46                              Chevre, Mr. Paul Romaine
51                                    Pulbaum, Mr. Franz
54                     Mangiavacchi, Mr. Serafino Emilio
40                                      Karun, Mr. Franz
20                                Rothschild, Mr. Martin
64                           Ryerson, Master. John Borie
17                                     Assaf, Mr. Gerios
75                                    Keeping, Mr. Edwin
399                             Conlon, Mr. Thomas Henry
47                              Shaughnessy, Mr. Patrick
2                              Myles, Mr. Thomas Francis
193                                    Lingane, Mr. John
183                                    Lane, Mr. Patrick
55                                  Rice, Master. Albert
396                                 Colbert, Mr. Patrick
256                                      Mahon, Mr. John
388                                 Canavan, Mr. Patrick
271                                     Fox, Mr. Patrick
381                                    Foley, Mr. Joseph
380                                O'Connor, Mr. Patrick
358                                 O'Keefe, Mr. Patrick
16                                     Keane, Mr. Daniel
233                                 Linehan, Mr. Michael
0                                       Kelly, Mr. James
106                                  Buckley, Mr. Daniel
102                                   Foley, Mr. William
107                                     Ryan, Mr. Edward
84                                 Lamb, Mr. John Joseph
121                                    Kiernan, Mr. John
124                                    Kennedy, Mr. John
99                          Nancarrow, Mr. William Henry
317                           Rogers, Mr. Reginald Harry
318                            Jonsson, Mr. Nils Hilding
319                         Jefferys, Mr. Ernest Wilfred
320                          Andersson, Mr. Johan Samuel
342                                Sage, Mr. John George
322                                   Nesson, Mr. Israel
323                                   Rowe, Mr. Alfred G
325                                       Assam, Mr. Ali
340                        Fillbrook, Mr. Joseph Charles
328                        Clarke, Mr. Charles Valentine
329                                  Enander, Mr. Ingvar
95                            Tenglin, Mr. Gunnar Isidor
338                                 Denbury, Mr. Herbert
21                             Olsen, Master. Artur Karl
97                             Makinen, Mr. Kalle Edvard
334                                        Cor, Mr. Ivan
335                             Maguire, Mr. John Edward
336                           de Brito, Mr. Jose Joaquim
341                           Lundstrom, Mr. Thure Edvin
135                            Carlsson, Mr. Carl Robert
25                               Robins, Mr. Alexander A
109                                    Swane, Mr. George
285                                  Dennis, Mr. William
286               Franklin, Mr. Charles (Charles Fardon)
287                           Snyder, Mr. John Pillsbury
31                         Jefferys, Mr. Clifford Thomas
289                                     Ford, Mr. Arthur
290                  Rheims, Mr. George Alexander Lucien
108                     Willer, Mr. Aaron (Abi Weller")"
30                          Louch, Mr. Charles Alexander
293                                Dodge, Dr. Washington
294                            Wittevrongel, Mr. Camille
295                                 Angheloff, Mr. Minko
101                                   Weisz, Mr. Leopold
28                               Brady, Mr. John Bertram
299                                  Johansson, Mr. Nils
300                            Olsson, Mr. Oscar Wilhelm
302                          Phillips, Mr. Escott Robert
303                                    Pokrnic, Mr. Tome
105                            Holthen, Mr. Johan Martin
306                 Allison, Mr. Hudson Joshua Creighton
307                            Aks, Master. Philip Frank
308                           Hays, Mr. Charles Melville
310                                 Cacic, Mr. Jego Grga
103               Johansson Palmquist, Mr. Oskar Leander
93                                     Guest, Mr. Robert
312                                  Sadowitz, Mr. Harry
298                           Loring, Mr. Joseph Holland
344                  van Billiard, Master. James William
348                                     Giles, Mr. Ralph
346                           Botsford, Mr. William Hull
384                       Wheeler, Mr. Edwin Frederick""
386                       Aronsson, Mr. Ernst Axel Algot
387                                      Ashby, Mr. John
389                          Palsson, Master. Paul Folke
390                           Payne, Mr. Vivian Ponsonby
392                        Abbott, Master. Eugene Joseph
393                                 Gilbert, Mr. William
394                             Kink-Heilmann, Mr. Anton
76                                      Miles, Mr. Frank
398                       Larsson-Rondberg, Mr. Edvard A
401                                      Gale, Mr. Harry
415                         Saether, Mr. Simon Sivertsen
413                                   Spector, Mr. Woolf
81                                    Straus, Mr. Isidor
83                                  Demetri, Mr. Marinko
406                            Ware, Mr. William Jeffery
3                                       Wirz, Mr. Albert
403                               Carrau, Mr. Jose Pedro
5                             Svensson, Mr. Johan Cervin
82                                Case, Mr. Howard Brown
89                           Wells, Master. Ralph Lester
378                          Hipkins, Mr. William Edward
281                       Peacock, Master. Alfred Edward
351                            Stokes, Mr. Philip Joseph
352                                  Dibden, Mr. William
353                                   Herman, Mr. Samuel
355                             Julian, Mr. Henry Forbes
357                                  Lockyer, Mr. Edward
91                                    Pedersen, Mr. Olaf
360                          Sage, Master. William Henry
13                                  Howard, Mr. Benjamin
363                                    Strilic, Mr. Ivan
377                         Cotterill, Mr. Henry Harry""
7                           Caldwell, Mr. Albert Francis
373                               Harbeck, Mr. William H
372                              Ismay, Mr. Joseph Bruce
379                          Asplund, Master. Carl Edgar
9                                Davies, Mr. John Samuel
10                                      Ilieff, Mr. Ylio
11                            Jones, Mr. Charles Cresson
370                                     Giles, Mr. Edgar
276                         Parker, Mr. Clifford Richard
278                                 Ware, Mr. John James
172                             Dyker, Mr. Adolf Fredrik
56                                       Cor, Mr. Bartol
174           Asplund, Mr. Carl Oscar Vilhelm Gustafsson
129                                 Petersen, Mr. Marius
128                                 Bowenur, Mr. Solomon
180                            McCrie, Mr. James Matthew
185                            Maybery, Mr. Frank Hubert
57                         Abelseth, Mr. Olaus Jorgensen
187                                   Davies, Mr. Joseph
189                                      Veal, Mr. James
190                                 Angle, Mr. William A
191                               Salomon, Mr. Abraham L
192                    van Billiard, Master. Walter John
126                             Brobeck, Mr. Karl Rudolf
194                        Drew, Master. Marshall Brines
195                    Karlsson, Mr. Julius Konrad Eugen
198                       Baimbrigge, Mr. Charles Robert
201              Danbom, Master. Gilbert Sigvard Emanuel
50                              Smith, Mr. Lucien Philip
170                                   Lithman, Mr. Simon
58                             Davison, Mr. Thomas Henry
137                                  Schmidt, Mr. August
139                       Goodwin, Mr. Charles Frederick
143                           Beauchamp, Mr. Henry James
144    Lindeberg-Lind, Mr. Erik Gustaf (Mr Edward Lin...
145                            Vander Planke, Mr. Julius
146                          Hilliard, Mr. Herbert Henry
147                                     Davies, Mr. Evan
148                            Crafton, Mr. John Bertram
149                               Lahtinen, Rev. William
62                          Bjorklund, Mr. Ernst Herbert
61                             McCrae, Mr. Arthur Gordon
152                                   Storey, Mr. Thomas
167                              Ford, Mr. Edward Watson
130                              Spinner, Mr. Henry John
164                        Peruschitz, Rev. Joseph Maria
163                                   Pearce, Mr. Ernest
204                             Andrew, Mr. Frank Thomas
60                                       Dika, Mr. Mirko
158                             Borebank, Mr. John James
155                                 Duquemin, Mr. Joseph
154                         Asplund, Master. Filip Oscar
123                              Carver, Mr. Alfred John
207                         Collett, Mr. Sidney C Stuart
245                              Kenyon, Mr. Frederick R
247                               Drew, Mr. James Vivian
78                        Aldworth, Mr. Charles Augustus
38                                       Sap, Mr. Julius
251             Abrahamsson, Mr. Abraham August Johannes
253                             Salander, Mr. Karl Johan
254                                  Wenzel, Mr. Linhart
255                           MacKay, Mr. George William
257                                Niklasson, Mr. Samuel
259                             Midtsjo, Mr. Karl Albert
260                 de Messemaeker, Mr. Guillaume Joseph
261                        Nilsson, Mr. August Ferdinand
277                                Faunthorpe, Mr. Harry
134                               Dintcheff, Mr. Valtcho
71                                    Minkoff, Mr. Lazar
244            Johnston, Master. William Arthur Willie""
269                                    Pokrnic, Mr. Mate
267                          Warren, Mr. Charles William
266                Chisholm, Mr. Roderick Robert Crispin
265                                Lyntakoff, Mr. Stanko
279                            Oxenham, Mr. Percy Thomas
243                                   Hyman, Mr. Abraham
416                                  Ware, Mr. Frederick
209                                   Delalic, Mr. Redjo
210                          Andersen, Mr. Albert Karvin
211                                    Finoli, Mr. Luigi
212                            Deacon, Mr. Percy William
215                                Head, Mr. Christopher
67                        Moore, Mr. Clarence Bloomfield
217                             Wick, Mr. George Dennick
219                      Thomson, Mr. Alexander Morrison
221                               Reynolds, Mr. Harold J
223                        Karlsson, Mr. Einar Gervasius
45                       Peltomaki, Mr. Nikolai Johannes
41                           Franklin, Mr. Thomas Parham
42                                 Goldsmith, Mr. Nathan
235                               Vendel, Mr. Olof Edvin
39                                         Hee, Mr. Ling
230                          Sweet, Mr. George Frederick
229                   Hocking, Mr. Samuel James Metcalfe
228                            Everett, Mr. Thomas James
226                           Asplund, Mr. Johan Charles
232                              Wiklund, Mr. Karl Johan
Name: Name, dtype: object

In [188]:
survived_data=data.sort_values('Survived')
survived_data
pd.set_option('display.max_rows',None)
survived_data.reset_index(inplace=True)
survived_data.drop(columns='index',inplace=True)

In [189]:
s=survived_data.iloc[0:266]
print(s['Name'])

0                        Peltomaki, Mr. Nikolai Johannes
1                            Franklin, Mr. Thomas Parham
2                                  Goldsmith, Mr. Nathan
3                                 Vendel, Mr. Olof Edvin
4                                          Hee, Mr. Ling
5                            Sweet, Mr. George Frederick
6                     Hocking, Mr. Samuel James Metcalfe
7                              Everett, Mr. Thomas James
8                                    Lockyer, Mr. Edward
9                                     Pedersen, Mr. Olaf
10                           Sage, Master. William Henry
11                                  Howard, Mr. Benjamin
12                                     Strilic, Mr. Ivan
13                          Cotterill, Mr. Henry Harry""
14                          Caldwell, Mr. Albert Francis
15                                Harbeck, Mr. William H
16                                 Head, Mr. Christopher
17                        Moore, Mr. Clarence Bloomfield
18                              Wick, Mr. George Dennick
19                       Thomson, Mr. Alexander Morrison
20                                Reynolds, Mr. Harold J
21                                 Betros, Master. Seman
22                               Wiklund, Mr. Karl Johan
23                       Stengel, Mr. Charles Emil Henry
24                      Compton, Mr. Alexander Taylor Jr
25                       Spedden, Master. Robert Douglas
26                                Astor, Col. John Jacob
27                             Omont, Mr. Alfred Fernand
28                             Cumings, Mr. John Bradley
29                              Warren, Mr. Frank Manley
30                                   Baccos, Mr. Raffull
31                                 Thomas, Mr. Charles P
32                                     Daher, Mr. Shedid
33                         Pallas y Castello, Mr. Emilio
34                          Frauenthal, Mr. Isaac Gerald
35          Nourney, Mr. Alfred (Baron von Drachstedt")"
36                            Widener, Mr. George Dunton
37                                    Khalil, Mr. Betros
38                                     Elias, Mr. Joseph
39                                   Thomas, Mr. Tannous
40                Portaluppi, Mr. Emilio Ilario Giuseppe
41                          McCaffry, Mr. Thomas Francis
42                         Karlsson, Mr. Einar Gervasius
43                                Dintcheff, Mr. Valtcho
44                                    Minkoff, Mr. Lazar
45             Johnston, Master. William Arthur Willie""
46                                     Pokrnic, Mr. Mate
47                           Warren, Mr. Charles William
48                          Dulles, Mr. William Crothers
49                                     Samaan, Mr. Hanna
50                                  Boulos, Master. Akar
51                              Peter, Master. Michael J
52                                    Hyman, Mr. Abraham
53                                Drew, Mr. James Vivian
54                        Aldworth, Mr. Charles Augustus
55                                       Sap, Mr. Julius
56              Abrahamsson, Mr. Abraham August Johannes
57                              Salander, Mr. Karl Johan
58                                   Wenzel, Mr. Linhart
59                            MacKay, Mr. George William
60                                 Niklasson, Mr. Samuel
61                              Midtsjo, Mr. Karl Albert
62                  de Messemaeker, Mr. Guillaume Joseph
63                         Nilsson, Mr. August Ferdinand
64                              Mock, Mr. Philipp Edmund
65                       Williams, Mr. Richard Norris II
66      Katavelas, Mr. Vassilios (Catavelas Vassilios")"
67                       Tucker, Mr. Gilbert Milligan Jr
68                              Chevre, Mr. Paul Romaine
69                                    Pulbaum, Mr. Franz
70                     Mangiavacchi, Mr. Serafino Emilio
71                                      Karun, Mr. Franz
72                                Rothschild, Mr. Martin
73                               Mardirosian, Mr. Sarkis
74                                     Nasr, Mr. Mustafa
75                                   Malachard, Mr. Noel
76                                  Vartanian, Mr. David
77                         Spencer, Mr. William Augustus
78                                 Krekorian, Mr. Neshan
79           Rosenshine, Mr. George (Mr George Thorne")"
80                              Borebank, Mr. John James
81                                  Duquemin, Mr. Joseph
82                          Asplund, Master. Filip Oscar
83                               Carver, Mr. Alfred John
84                          Collett, Mr. Sidney C Stuart
85                               Kenyon, Mr. Frederick R
86                           Ryerson, Master. John Borie
87                                     Assaf, Mr. Gerios
88                                    Keeping, Mr. Edwin
89                              Conlon, Mr. Thomas Henry
90                              Shaughnessy, Mr. Patrick
91                             Myles, Mr. Thomas Francis
92                                     Lingane, Mr. John
93                                     Lane, Mr. Patrick
94                       Ovies y Rodriguez, Mr. Servando
95                                     Samaan, Mr. Elias
96                             McCrae, Mr. Arthur Gordon
97                                    Storey, Mr. Thomas
98                               Ford, Mr. Edward Watson
99                               Spinner, Mr. Henry John
100                                    Kiernan, Mr. John
101                                 Rice, Master. Albert
102                                 Colbert, Mr. Patrick
103                                      Mahon, Mr. John
104                                 Canavan, Mr. Patrick
105                                     Fox, Mr. Patrick
106                                    Foley, Mr. Joseph
107                                O'Connor, Mr. Patrick
108                                Faunthorpe, Mr. Harry
109                                   Pearce, Mr. Ernest
110                             Andrew, Mr. Frank Thomas
111                                      Dika, Mr. Mirko
112                                 O'Keefe, Mr. Patrick
113                                    Keane, Mr. Daniel
114                                 Linehan, Mr. Michael
115                                     Kelly, Mr. James
116                                  Buckley, Mr. Daniel
117                                   Foley, Mr. William
118                                     Ryan, Mr. Edward
119                                Lamb, Mr. John Joseph
120                           Beauchamp, Mr. Henry James
121    Lindeberg-Lind, Mr. Erik Gustaf (Mr Edward Lin...
122                            Vander Planke, Mr. Julius
123                          Hilliard, Mr. Herbert Henry
124                                     Davies, Mr. Evan
125                            Crafton, Mr. John Bertram
126                               Lahtinen, Rev. William
127                         Bjorklund, Mr. Ernst Herbert
128                             Smith, Mr. Lucien Philip
129                                   Lithman, Mr. Simon
130                            Davison, Mr. Thomas Henry
131                                  Schmidt, Mr. August
132                       Goodwin, Mr. Charles Frederick
133                            Carlsson, Mr. Carl Robert
134                                    Kennedy, Mr. John
135                         Nancarrow, Mr. William Henry
136                           Rogers, Mr. Reginald Harry
137                            Jonsson, Mr. Nils Hilding
138                         Jefferys, Mr. Ernest Wilfred
139                          Andersson, Mr. Johan Samuel
140                                Sage, Mr. John George
141                                   Nesson, Mr. Israel
142                                   Rowe, Mr. Alfred G
143                                       Assam, Mr. Ali
144                        Drew, Master. Marshall Brines
145                                   Weisz, Mr. Leopold
146                        Fillbrook, Mr. Joseph Charles
147                        Clarke, Mr. Charles Valentine
148                                  Enander, Mr. Ingvar
149                           Tenglin, Mr. Gunnar Isidor
150                                 Denbury, Mr. Herbert
151                            Olsen, Master. Artur Karl
152                            Makinen, Mr. Kalle Edvard
153                                        Cor, Mr. Ivan
154                             Maguire, Mr. John Edward
155                           de Brito, Mr. Jose Joaquim
156                           Lundstrom, Mr. Thure Edvin
157                        Peruschitz, Rev. Joseph Maria
158                       Baimbrigge, Mr. Charles Robert
159              Danbom, Master. Gilbert Sigvard Emanuel
160                  Rheims, Mr. George Alexander Lucien
161                     Willer, Mr. Aaron (Abi Weller")"
162                         Louch, Mr. Charles Alexander
163                                Dodge, Dr. Washington
164                            Wittevrongel, Mr. Camille
165                                 Angheloff, Mr. Minko
166                                 Bowenur, Mr. Solomon
167                            McCrie, Mr. James Matthew
168                            Maybery, Mr. Frank Hubert
169                        Abelseth, Mr. Olaus Jorgensen
170                                   Davies, Mr. Joseph
171                                      Veal, Mr. James
172                                 Angle, Mr. William A
173                               Salomon, Mr. Abraham L
174                    van Billiard, Master. Walter John
175                             Brobeck, Mr. Karl Rudolf
176                            Holthen, Mr. Johan Martin
177                 Allison, Mr. Hudson Joshua Creighton
178                            Aks, Master. Philip Frank
179                           Hays, Mr. Charles Melville
180                                 Cacic, Mr. Jego Grga
181               Johansson Palmquist, Mr. Oskar Leander
182                                    Guest, Mr. Robert
183                                  Sadowitz, Mr. Harry
184                           Loring, Mr. Joseph Holland
185                              Robins, Mr. Alexander A
186                                    Swane, Mr. George
187                                  Dennis, Mr. William
188               Franklin, Mr. Charles (Charles Fardon)
189                           Snyder, Mr. John Pillsbury
190                        Jefferys, Mr. Clifford Thomas
191                                     Ford, Mr. Arthur
192                  van Billiard, Master. James William
193                                     Giles, Mr. Ralph
194                           Botsford, Mr. William Hull
195                       Wheeler, Mr. Edwin Frederick""
196                       Aronsson, Mr. Ernst Axel Algot
197                                      Ashby, Mr. John
198                          Palsson, Master. Paul Folke
199                           Payne, Mr. Vivian Ponsonby
200                        Abbott, Master. Eugene Joseph
201                                 Gilbert, Mr. William
202                             Kink-Heilmann, Mr. Anton
203                              Brady, Mr. John Bertram
204                                  Johansson, Mr. Nils
205                            Olsson, Mr. Oscar Wilhelm
206                          Phillips, Mr. Escott Robert
207                                    Pokrnic, Mr. Tome
208                         Saether, Mr. Simon Sivertsen
209                                   Spector, Mr. Woolf
210                                   Straus, Mr. Isidor
211                                 Demetri, Mr. Marinko
212                            Ware, Mr. William Jeffery
213                                     Wirz, Mr. Albert
214                    Karlsson, Mr. Julius Konrad Eugen
215                                     Ilieff, Mr. Ylio
216                           Jones, Mr. Charles Cresson
217                                     Giles, Mr. Edgar
218                         Parker, Mr. Clifford Richard
219                                 Ware, Mr. John James
220                             Dyker, Mr. Adolf Fredrik
221                                      Cor, Mr. Bartol
222           Asplund, Mr. Carl Oscar Vilhelm Gustafsson
223                                 Petersen, Mr. Marius
224                              Ismay, Mr. Joseph Bruce
225                          Asplund, Master. Carl Edgar
226                              Davies, Mr. John Samuel
227                               Carrau, Mr. Jose Pedro
228                           Svensson, Mr. Johan Cervin
229                               Case, Mr. Howard Brown
230                          Wells, Master. Ralph Lester
231                          Hipkins, Mr. William Edward
232                       Peacock, Master. Alfred Edward
233                            Stokes, Mr. Philip Joseph
234                                  Dibden, Mr. William
235                                   Herman, Mr. Samuel
236                             Julian, Mr. Henry Forbes
237                                     Miles, Mr. Frank
238                       Larsson-Rondberg, Mr. Edvard A
239                                      Gale, Mr. Harry
240                Chisholm, Mr. Roderick Robert Crispin
241                                Lyntakoff, Mr. Stanko
242                            Oxenham, Mr. Percy Thomas
243                                Saade, Mr. Jean Nassr
244                           Ryerson, Mr. Arthur Larned
245                                 Matinoff, Mr. Nicola
246                       Touma, Master. Georges Youssef
247                         Spedden, Mr. Frederic Oakley
248                             Clark, Mr. Walter Miller
249                                    Caram, Mr. Joseph
250                            Zakarian, Mr. Mapriededer
251                                  Ware, Mr. Frederick
252                                   Delalic, Mr. Redjo
253                          Andersen, Mr. Albert Karvin
254                                    Finoli, Mr. Luigi
255                            Deacon, Mr. Percy William
256                            Gracie, Col. Archibald IV
257                                 Beattie, Mr. Thomson
258                                     Thomas, Mr. John
259                          Chronopoulos, Mr. Demetrios
260                             Stanton, Mr. Samuel Ward
261                                  Birnbaum, Mr. Jakob
262                                   Brandeis, Mr. Emil
263                                  Zakarian, Mr. Ortin
264                                     Torfa, Mr. Assad
265                           Asplund, Mr. Johan Charles
Name: Name, dtype: object

In [190]:
nots=survived_data.iloc[267:418]
print(nots['Name'])

267    Cassebeer, Mrs. Henry Arthur Jr (Eleanor Genev...
268    Stengel, Mrs. Charles Emil Henry (Annie May Mo...
269            Thomas, Mrs. Alexander (Thamine Thelma")"
270                             Evans, Miss. Edith Corse
271            Lindstrom, Mrs. Carl Johan (Sigrid Posse)
272          Douglas, Mrs. Walter Donald (Mahala Dutton)
273      Chapman, Mrs. John Henry (Sara Elizabeth Lawry)
274                                Hiltunen, Miss. Marta
275                Corbett, Mrs. Walter H (Irene Colvin)
276     Kimball, Mrs. Edwin Nelson Jr (Gertrude Parsons)
277                  Fortune, Mrs. Mark (Mary McDougald)
278                             Willard, Miss. Constance
279                        Rosenbaum, Miss. Edith Louise
280     Becker, Mrs. Allen Oliver (Nellie E Baumgardner)
281    Lindell, Mrs. Edvard Bengtsson (Elin Gerda Per...
282         Ware, Mrs. John James (Florence Louise Long)
283                                    Kink, Miss. Maria
284                Dodge, Mrs. Washington (Ruth Vidaver)
285    Dyker, Mrs. Adolf Fredrik (Anna Elisabeth Judi...
286                          Abelseth, Miss. Karen Marie
287                 Davidson, Mrs. Thornton (Orian Hays)
288                               Walcroft, Miss. Nellie
289    Chaffee, Mrs. Herbert Fuller (Carrie Constance...
290              Dean, Miss. Elizabeth Gladys Millvina""
291       Brown, Mrs. John Murray (Caroline Lane Lamson)
292                              Bonnell, Miss. Caroline
293                     Wilkes, Mrs. James (Ellen Needs)
294                       Henriksson, Miss. Jenny Lovisa
295    Cornell, Mrs. Robert Clifford (Malvina Helen L...
296                           Risien, Mrs. Samuel (Emma)
297                            Peacock, Miss. Treasteall
298         Riihivouri, Miss. Susanna Juhantytar Sanni""
299                       Sage, Mrs. John (Annie Bullen)
300        Snyder, Mrs. John Pillsbury (Nelle Stevenson)
301                               Oreskovic, Miss. Jelka
302                            Brown, Miss. Edith Eileen
303                                 Sincock, Miss. Maude
304         Hirvonen, Mrs. Alexander (Helga E Lindqvist)
305                  McNamee, Mrs. Neal (Eileen O'Leary)
306                                   Herman, Miss. Kate
307                           Badman, Miss. Emily Louisa
308       Lines, Mrs. Ernest H (Elizabeth Lindsey James)
309       Smith, Mrs. Lucien Philip (Mary Eloise Hughes)
310    Crosby, Mrs. Edward Gifford (Catherine Elizabe...
311           Hansen, Mrs. Claus Peter (Jennie L Howard)
312             Dean, Mrs. Bertram (Eva Georgetta Light)
313                          Rosblom, Miss. Salli Helena
314                          Goodwin, Miss. Jessie Allis
315                           Fortune, Miss. Ethel Flora
316    Marvin, Mrs. Daniel Warner (Mary Graham Carmic...
317                        Hocking, Miss. Ellen Nellie""
318                 Phillips, Miss. Alice Frances Louisa
319                         Becker, Miss. Ruth Elizabeth
320                 Flegenheim, Mrs. Alfred (Antoinette)
321    Cavendish, Mrs. Tyrell William (Julia Florence...
322    Davies, Mrs. John Morgan (Elizabeth Agnes Mary...
323                             Cribb, Miss. Laura Alice
324                          Nilsson, Miss. Berta Olivia
325              Rasmussen, Mrs. (Lena Jacobsen Solvang)
326                           Quick, Miss. Winifred Vera
327                                      Sage, Miss. Ada
328                         Hellstrom, Miss. Hilda Maria
329    Corey, Mrs. Percy C (Mary Phyllis Elizabeth Mi...
330                                Drapkin, Miss. Jennie
331                            Mulvihill, Miss. Bertha E
332                             Buckley, Miss. Katherine
333                           Shine, Miss. Ellen Natalia
334                         Ilmakangas, Miss. Ida Livija
335                         Braf, Miss. Elin Ester Maria
336                               Kreuchen, Miss. Emilie
337                                  Carr, Miss. Jeannie
338                                 Hagardon, Miss. Kate
339                               Doyle, Miss. Elizabeth
340                              O'Donoghue, Ms. Bridget
341                                  McCoy, Miss. Alicia
342                              Burns, Miss. Mary Delia
343                                   Barry, Miss. Julia
344                Karnes, Mrs. J Frank (Claire Bennett)
345                                 Daniels, Miss. Sarah
346                        Lefebre, Mrs. Frank (Frances)
347           Kink-Heilmann, Mrs. Anton (Luise Heilmann)
348      Minahan, Mrs. William Edward (Lillian E Thorpe)
349                                   Smyth, Miss. Julia
350                                   Murphy, Miss. Nora
351                               McNeill, Miss. Bridget
352                                   Lennon, Miss. Mary
353                                Fleming, Miss. Honora
354               Daly, Miss. Margaret Marcella Maggie""
355                         Bradley, Miss. Bridget Delia
356                                 Wright, Miss. Marion
357                             Lundin, Miss. Olga Elida
358                                    Bird, Miss. Ellen
359       Klasen, Mrs. (Hulda Kristina Eugenia Lofqvist)
360                  Peacock, Mrs. Benjamin (Edith Nile)
361       Coutts, Mrs. William (Winnie Minnie" Treanor)"
362                    McCarthy, Miss. Catherine Katie""
363        del Carlo, Mrs. Sebastiano (Argenia Genovesi)
364            Abrahim, Mrs. Joseph (Sophie Halaut Easu)
365                Assaf Khalil, Mrs. Mariana (Miriam")"
366                                 Connolly, Miss. Kate
367                           Mahon, Miss. Bridget Delia
368                             McGowan, Miss. Katherine
369                      Riordan, Miss. Johanna Hannah""
370                               Naughton, Miss. Hannah
371      Ryerson, Mrs. Arthur Larned (Emily Maria Borie)
372                                 Geiger, Miss. Amalie
373                         Ostby, Miss. Helene Ragnhild
374      Bucknell, Mrs. William Robert (Emma Eliza Ward)
375                          Chaudanson, Miss. Victorine
376                           Touma, Miss. Maria Youssef
377                Nakid, Mrs. Said (Waika Mary" Mowad)"
378                                Laroche, Miss. Louise
379                White, Mrs. John Stuart (Ella Holmes)
380                                West, Miss. Barbara J
381                                   Cacic, Miss. Manda
382               Straus, Mrs. Isidor (Rosalie Ida Blun)
383                              Bentham, Miss. Lilian W
384                             Bowen, Miss. Grace Scott
385    Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...
386                       Gibson, Miss. Dorothy Winifred
387                         Oliva y Ocana, Dona. Fermina
388                            Wilson, Miss. Helen Alice
389        Clark, Mrs. Walter Miller (Virginia McDowell)
390                  Bryhl, Miss. Dagmar Jenny Ingeborg
391    Johnston, Mrs. Andrew G (Elizabeth Lily" Watson)"
392                       Nieminen, Miss. Manta Josefina
393                                  Roth, Miss. Sarah A
394                         Klasen, Miss. Gertrud Emilia
395    Wells, Mrs. Arthur Henry (Addie" Dart Trevaskis)"
396                          Howard, Miss. May Elizabeth
397                Earnshaw, Mrs. Boulton (Olive Potter)
398                      Schabert, Mrs. Paul (Emma Mock)
399            Khalil, Mrs. Betros (Zahie Maria" Elias)"
400    Cardeza, Mrs. James Warburton Martinez (Charlo...
401      Whabee, Mrs. George Joseph (Shawneene Abi-Saab)
402         Greenfield, Mrs. Leo David (Blanche Strouse)
403              Mallet, Mrs. Albert (Antoinette Magnin)
404         Harder, Mrs. George Achilles (Dorothy Annan)
405              Gibson, Mrs. Leonard (Pauline C Boeson)
406                        Christy, Mrs. (Alice Frances)
407         Howard, Mrs. Benjamin (Ellen Truelove Arman)
408               Andersson, Miss. Ida Augusta Margareta
409                                 Watt, Miss. Bertha J
410                           Cook, Mrs. (Selena Rogers)
411    Compton, Mrs. Alexander Taylor (Mary Eliza Ing...
412    Douglas, Mrs. Frederick Charles (Mary Helene B...
413         Widener, Mrs. George Dunton (Eleanor Elkins)
414                       Duran y More, Miss. Florentina
415     Candee, Mrs. Edward (Helen Churchill Hungerford)
416     Moubarek, Mrs. George (Omine Amenia" Alexander)"
417                      Sandstrom, Miss. Beatrice Irene
Name: Name, dtype: object

In [191]:
survived_data2={
                }
    
survived_data2=pd.DataFrame(survived_data2)
survived_data2.insert(0,'Survived',s['Survived'])
survived_data2.insert(1,'Name',s['Name'])
survived_data2.shape

(266, 2)

In [197]:
survived_data3={
                }
    
survived_data3=pd.DataFrame(survived_data3)
survived_data3.insert(0,'Survived Name',s['Name'])
survived_data3.insert(1,'Not Survived Name',nots['Name'])
survived_data3.reset_index(inplace=True)
survived_data3.drop(columns='index',inplace=True)
nots.reset_index(inplace=True)

In [208]:
survived_data3['Not Survived Name'].fillna('Not data',inplace=True)
survived_data3.to_csv('ttt.csv')

In [170]:
cabin=data.sort_values('Cabin')
cabin.reset_index(inplace=True)
cabin.drop(columns='index',inplace=True)

In [171]:
theif=cabin.iloc[71:72]
print(theif['Name'])

71    Frauenthal, Mr. Isaac Gerald
Name: Name, dtype: object

In [196]:
df=pd.read_excel('survived_data.xlsx')
df

,Unnamed: 0,Survived Name,Not Survived Name
0,0,"Peltomaki, Mr. Nikolai Johannes",NaN
1,1,"Franklin, Mr. Thomas Parham",NaN
2,2,"Goldsmith, Mr. Nathan",NaN
3,3,"Vendel, Mr. Olof Edvin",NaN
4,4,"Hee, Mr. Ling",NaN
5,5,"Sweet, Mr. George Frederick",NaN
6,6,"Hocking, Mr. Samuel James Metcalfe",NaN
7,7,"Everett, Mr. Thomas James",NaN
8,8,"Lockyer, Mr. Edward",NaN
9,9,"Pedersen, Mr. Olaf",NaN
10,10,"Sage, Master. William Henry",NaN
11,11,"Howard, Mr. Benjamin",NaN
12,12,"Strilic, Mr. Ivan",NaN
13,13,"Cotterill, Mr. Henry Harry""""",NaN
14,14,"Caldwell, Mr. Albert Francis",NaN
15,15,"Harbeck, Mr. William H",NaN
16,16,"Head, Mr. Christopher",NaN
17,17,"Moore, Mr. Clarence Bloomfield",NaN
18,18,"Wick, Mr. George Dennick",NaN
19,19,"Thomson, Mr. Alexander Morrison",NaN
20,20,"Reynolds, Mr. Harold J",NaN
21,21,"Betros, Master. Seman",NaN
22,22,"Wiklund, Mr. Karl Johan",NaN
23,23,"Stengel, Mr. Charles Emil Henry",NaN
24,24,"Compton, Mr. Alexander Taylor Jr",NaN
25,25,"Spedden, Master. Robert Douglas",NaN
26,26,"Astor, Col. John Jacob",NaN
27,27,"Omont, Mr. Alfred Fernand",NaN
28,28,"Cumings, Mr. John Bradley",NaN
29,29,"Warren, Mr. Frank Manley",NaN
30,30,"Baccos, Mr. Raffull",NaN
31,31,"Thomas, Mr. Charles P",NaN
32,32,"Daher, Mr. Shedid",NaN
33,33,"Pallas y Castello, Mr. Emilio",NaN
34,34,"Frauenthal, Mr. Isaac Gerald",NaN
35,35,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",NaN
36,36,"Widener, Mr. George Dunton",NaN
37,37,"Khalil, Mr. Betros",NaN
38,38,"Elias, Mr. Joseph",NaN
39,39,"Thomas, Mr. Tannous",NaN
40,40,"Portaluppi, Mr. Emilio Ilario Giuseppe",NaN
41,41,"McCaffry, Mr. Thomas Francis",NaN
42,42,"Karlsson, Mr. Einar Gervasius",NaN
43,43,"Dintcheff, Mr. Valtcho",NaN
44,44,"Minkoff, Mr. Lazar",NaN
45,45,"Johnston, Master. William Arthur Willie""""",NaN
46,46,"Pokrnic, Mr. Mate",NaN
47,47,"Warren, Mr. Charles William",NaN
48,48,"Dulles, Mr. William Crothers",NaN
49,49,"Samaan, Mr. Hanna",NaN
50,50,"Boulos, Master. Akar",NaN
51,51,"Peter, Master. Michael J",NaN
52,52,"Hyman, Mr. Abraham",NaN
53,53,"Drew, Mr. James Vivian",NaN
54,54,"Aldworth, Mr. Charles Augustus",NaN
55,55,"Sap, Mr. Julius",NaN
56,56,"Abrahamsson, Mr. Abraham August Johannes",NaN
57,57,"Salander, Mr. Karl Johan",NaN
58,58,"Wenzel, Mr. Linhart",NaN
59,59,"MacKay, Mr. George William",NaN
60,60,"Niklasson, Mr. Samuel",NaN
61,61,"Midtsjo, Mr. Karl Albert",NaN
62,62,"de Messemaeker, Mr. Guillaume Joseph",NaN
63,63,"Nilsson, Mr. August Ferdinand",NaN
64,64,"Mock, Mr. Philipp Edmund",NaN
65,65,"Williams, Mr. Richard Norris II",NaN
66,66,"Katavelas, Mr. Vassilios (Catavelas Vassilios"")""",NaN
67,67,"Tucker, Mr. Gilbert Milligan Jr",NaN
68,68,"Chevre, Mr. Paul Romaine",NaN
69,69,"Pulbaum, Mr. Franz",NaN
70,70,"Mangiavacchi, Mr. Serafino Emilio",NaN
71,71,"Karun, Mr. Franz",NaN
72,72,"Rothschild, Mr. Martin",NaN
73,73,"Mardirosian, Mr. Sarkis",NaN
74,74,"Nasr, Mr. Mustafa",NaN
75,75,"Malachard, Mr. Noel",NaN
76,76,"Vartanian, Mr. David",NaN
77,77,"Spencer, Mr. William Augustus",NaN
78,78,"Krekorian, Mr. Neshan",NaN
79,79,"Rosenshine, Mr. George (Mr George Thorne"")""",NaN
80,80,"Borebank, Mr. John James",NaN
81,81,"Duquemin, Mr. Joseph",NaN
82,82,"Asplund, Master. Filip Oscar",NaN
83,83,"Carver, Mr. Alfred John",NaN
84,84,"Collett, Mr. Sidney C Stuart",NaN
85,85,"Kenyon, Mr. Frederick R",NaN
86,86,"Ryerson, Master. John Borie",NaN
87,87,"Assaf, Mr. Gerios",NaN
88,88,"Keeping, Mr. Edwin",NaN
89,89,"Conlon, Mr. Thomas Henry",NaN
90,90,"Shaughnessy, Mr. Patrick",NaN
91,91,"Myles, Mr. Thomas Francis",NaN
92,92,"Lingane, Mr. John",NaN
93,93,"Lane, Mr. Patrick",NaN
94,94,"Ovies y Rodriguez, Mr. Servando",NaN
95,95,"Samaan, Mr. Elias",NaN
96,96,"McCrae, Mr. Arthur Gordon",NaN
97,97,"Storey, Mr. Thomas",NaN
98,98,"Ford, Mr. Edward Watson",NaN
99,99,"Spinner, Mr. Henry John",NaN
100,100,"Kiernan, Mr. John",NaN
101,101,"Rice, Master. Albert",NaN
102,102,"Colbert, Mr. Patrick",NaN
103,103,"Mahon, Mr. John",NaN
104,104,"Canavan, Mr. Patrick",NaN
105,105,"Fox, Mr. Patrick",NaN
106,106,"Foley, Mr. Joseph",NaN
107,107,"O'Connor, Mr. Patrick",NaN
108,108,"Faunthorpe, Mr. Harry",NaN
109,109,"Pearce, Mr. Ernest",NaN
110,110,"Andrew, Mr. Frank Thomas",NaN
111,111,"Dika, Mr. Mirko",NaN
112,112,"O'Keefe, Mr. Patrick",NaN
113,113,"Keane, Mr. Daniel",NaN
114,114,"Linehan, Mr. Michael",NaN
115,115,"Kelly, Mr. James",NaN
116,116,"Buckley, Mr. Daniel",NaN
117,117,"Foley, Mr. William",NaN
118,118,"Ryan, Mr. Edward",NaN
119,119,"Lamb, Mr. John Joseph",NaN
120,120,"Beauchamp, Mr. Henry James",NaN
121,121,"Lindeberg-Lind, Mr. Erik Gustaf (Mr Edward Lin...",NaN
122,122,"Vander Planke, Mr. Julius",NaN
123,123,"Hilliard, Mr. Herbert Henry",NaN
124,124,"Davies, Mr. Evan",NaN
125,125,"Crafton, Mr. John Bertram",NaN
126,126,"Lahtinen, Rev. William",NaN
127,127,"Bjorklund, Mr. Ernst Herbert",NaN
128,128,"Smith, Mr. Lucien Philip",NaN
129,129,"Lithman, Mr. Simon",NaN
130,130,"Davison, Mr. Thomas Henry",NaN
131,131,"Schmidt, Mr. August",NaN
132,132,"Goodwin, Mr. Charles Frederick",NaN
133,133,"Carlsson, Mr. Carl Robert",NaN
134,134,"Kennedy, Mr. John",NaN
135,135,"Nancarrow, Mr. William Henry",NaN
136,136,"Rogers, Mr. Reginald Harry",NaN
137,137,"Jonsson, Mr. Nils Hilding",NaN
138,138,"Jefferys, Mr. Ernest Wilfred",NaN
139,139,"Andersson, Mr. Johan Samuel",NaN
140,140,"Sage, Mr. John George",NaN
141,141,"Nesson, Mr. Israel",NaN
142,142,"Rowe, Mr. Alfred G",NaN
143,143,"Assam, Mr. Ali",NaN
144,144,"Drew, Master. Marshall Brines",NaN
145,145,"Weisz, Mr. Leopold",NaN
146,146,"Fillbrook, Mr. Joseph Charles",NaN
147,147,"Clarke, Mr. Charles Valentine",NaN
148,148,"Enander, Mr. Ingvar",NaN
149,149,"Tenglin, Mr. Gunnar Isidor",NaN
150,150,"Denbury, Mr. Herbert",NaN
151,151,"Olsen, Master. Artur Karl",NaN
152,152,"Makinen, Mr. Kalle Edvard",NaN
153,153,"Cor, Mr. Ivan",NaN
154,154,"Maguire, Mr. John Edward",NaN
155,155,"de Brito, Mr. Jose Joaquim",NaN
156,156,"Lundstrom, Mr. Thure Edvin",NaN
157,157,"Peruschitz, Rev. Joseph Maria",NaN
158,158,"Baimbrigge, Mr. Charles Robert",NaN
159,159,"Danbom, Master. Gilbert Sigvard Emanuel",NaN
160,160,"Rheims, Mr. George Alexander Lucien",NaN
161,161,"Willer, Mr. Aaron (Abi Weller"")""",NaN
162,162,"Louch, Mr. Charles Alexander",NaN
163,163,"Dodge, Dr. Washington",NaN
164,164,"Wittevrongel, Mr. Camille",NaN
165,165,"Angheloff, Mr. Minko",NaN
166,166,"Bowenur, Mr. Solomon",NaN
167,167,"McCrie, Mr. James Matthew",NaN
168,168,"Maybery, Mr. Frank Hubert",NaN
169,169,"Abelseth, Mr. Olaus Jorgensen",NaN
170,170,"Davies, Mr. Joseph",NaN
171,171,"Veal, Mr. James",NaN
172,172,"Angle, Mr. William A",NaN
173,173,"Salomon, Mr. Abraham L",NaN
174,174,"van Billiard, Master. Walter John",NaN
175,175,"Brobeck, Mr. Karl Rudolf",NaN
176,176,"Holthen, Mr. Johan Martin",NaN
177,177,"Allison, Mr. Hudson Joshua Creighton",NaN
178,178,"Aks, Master. Philip Frank",NaN
179,179,"Hays, Mr. Charles Melville",NaN
180,180,"Cacic, Mr. Jego Grga",NaN
181,181,"Johansson Palmquist, Mr. Oskar Leander",NaN
182,182,"Guest, Mr. Robert",NaN
183,183,"Sadowitz, Mr. Harry",NaN
184,184,"Loring, Mr. Joseph Holland",NaN
185,185,"Robins, Mr. Alexander A",NaN
186,186,"Swane, Mr. George",NaN
187,187,"Dennis, Mr. William",NaN
188,188,"Franklin, Mr. Charles (Charles Fardon)",NaN
189,189,"Snyder, Mr. John Pillsbury",NaN
190,190,"Jefferys, Mr. Clifford Thomas",NaN
191,191,"Ford, Mr. Arthur",NaN
192,192,"van Billiard, Master. James William",NaN
193,193,"Giles, Mr. Ralph",NaN
194,194,"Botsford, Mr. William Hull",NaN
195,195,"Wheeler, Mr. Edwin Frederick""""",NaN
196,196,"Aronsson, Mr. Ernst Axel Algot",NaN
197,197,"Ashby, Mr. John",NaN
198,198,"Palsson, Master. Paul Folke",NaN
199,199,"Payne, Mr. Vivian Ponsonby",NaN
200,200,"Abbott, Master. Eugene Joseph",NaN
201,201,"Gilbert, Mr. William",NaN
202,202,"Kink-Heilmann, Mr. Anton",NaN
203,203,"Brady, Mr. John Bertram",NaN
204,204,"Johansson, Mr. Nils",NaN
205,205,"Olsson, Mr. Oscar Wilhelm",NaN
206,206,"Phillips, Mr. Escott Robert",NaN
207,207,"Pokrnic, Mr. Tome",NaN
208,208,"Saether, Mr. Simon Sivertsen",NaN
209,209,"Spector, Mr. Woolf",NaN
210,210,"Straus, Mr. Isidor",NaN
211,211,"Demetri, Mr. Marinko",NaN
212,212,"Ware, Mr. William Jeffery",NaN
213,213,"Wirz, Mr. Albert",NaN
214,214,"Karlsson, Mr. Julius Konrad Eugen",NaN
215,215,"Ilieff, Mr. Ylio",NaN
216,216,"Jones, Mr. Charles Cresson",NaN
217,217,"Giles, Mr. Edgar",NaN
218,218,"Parker, Mr. Clifford Richard",NaN
219,219,"Ware, Mr. John James",NaN
220,220,"Dyker, Mr. Adolf Fredrik",NaN
221,221,"Cor, Mr. Bartol",NaN
222,222,"Asplund, Mr. Carl Oscar Vilhelm Gustafsson",NaN
223,223,"Petersen, Mr. Marius",NaN
224,224,"Ismay, Mr. Joseph Bruce",NaN
225,225,"Asplund, Master. Carl Edgar",NaN
226,226,"Davies, Mr. John Samuel",NaN
227,227,"Carrau, Mr. Jose Pedro",NaN
228,228,"Svensson, Mr. Johan Cervin",NaN
229,229,"Case, Mr. Howard Brown",NaN
230,230,"Wells, Master. Ralph Lester",NaN
231,231,"Hipkins, Mr. William Edward",NaN
232,232,"Peacock, Master. Alfred Edward",NaN
233,233,"Stokes, Mr. Philip Joseph",NaN
234,234,"Dibden, Mr. William",NaN
235,235,"Herman, Mr. Samuel",NaN
236,236,"Julian, Mr. Henry Forbes",NaN
237,237,"Miles, Mr. Frank",NaN
238,238,"Larsson-Rondberg, Mr. Edvard A",NaN
239,239,"Gale, Mr. Harry",NaN
240,240,"Chisholm, Mr. Roderick Robert Crispin",NaN
241,241,"Lyntakoff, Mr. Stanko",NaN
242,242,"Oxenham, Mr. Percy Thomas",NaN
243,243,"Saade, Mr. Jean Nassr",NaN
244,244,"Ryerson, Mr. Arthur Larned",NaN
245,245,"Matinoff, Mr. Nicola",NaN
246,246,"Touma, Master. Georges Youssef",NaN
247,247,"Spedden, Mr. Frederic Oakley",NaN
248,248,"Clark, Mr. Walter Miller",NaN
249,249,"Caram, Mr. Joseph",NaN
250,250,"Zakarian, Mr. Mapriededer",NaN
251,251,"Ware, Mr. Frederick",NaN
252,252,"Delalic, Mr. Redjo",NaN
253,253,"Andersen, Mr. Albert Karvin",NaN
254,254,"Finoli, Mr. Luigi",NaN
255,255,"Deacon, Mr. Percy William",NaN
256,256,"Gracie, Col. Archibald IV",NaN
257,257,"Beattie, Mr. Thomson",NaN
258,258,"Thomas, Mr. John",NaN
259,259,"Chronopoulos, Mr. Demetrios",NaN
260,260,"Stanton, Mr. Samuel Ward",NaN
261,261,"Birnbaum, Mr. Jakob",NaN
262,262,"Brandeis, Mr. Emil",NaN
263,263,"Zakarian, Mr. Ortin",NaN
264,264,"Torfa, Mr. Assad",NaN
265,265,"Asplund, Mr. Johan Charles",NaN